workflows/mail/mail-agent.json
{
  "name": "mail-agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        -48
      ],
      "id": "ffb0d85e-f80f-4635-ab8f-e3e7a491b441",
      "name": "Executed by other flow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "o3",
          "cachedResultName": "o3"
        },
        "options": {}
      },
      "id": "bc01d1e0-57aa-4b20-8a44-48870f05a880",
      "name": "Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        80,
        160
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "wwvhoLcIlADIQmDC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json}}",
        "options": {
          "systemMessage": "You are a helpful Email Assistant. \nMy name is Sergiu.\n\n🔑 Rules:\n1. For creating new emails → call \"Create Draft\".\n2. For cleaning spam → call \"Clean Spam\".\n3. For cleaning drafts → call \"Clean Drafts\".\n4. Otherwise, answer email-related questions directly.\n\n💾 Memory:\n- Remember recent email activity and drafts.\n\n📤 Output JSON:\n{\n  \"action\": \"tool_call\" | \"respond\",\n  \"tool\": \"Create Draft | Clean Spam | Clean Drafts | None\",\n  \"arguments\": { \"subject\": \"...\", \"body\": \"...\", \"filters\": \"...\" },\n  \"response\": \"Natural language explanation for Sergiu\"\n}\n"
        }
      },
      "id": "1399accb-4267-4ccf-b588-11fd4789d939",
      "name": "Mail Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        192,
        -48
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "description": "Call this tool to send a mail draft",
        "workflowId": {
          "__rl": true,
          "value": "BWHgDUTxbsqAcgYw",
          "mode": "list",
          "cachedResultName": "mail-draft"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $fromAI('chatInput', 'Chat message or email content', 'string') }}",
            "emailInstructions": "={{ $fromAI('emailInstructions', 'Email instructions including recipient, subject context, and any specific requirements', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "Chat Input",
              "required": true,
              "defaultValue": "",
              "type": "string"
            },
            {
              "id": "emailInstructions",
              "displayName": "Email Instructions",
              "required": true,
              "defaultValue": "",
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        208,
        160
      ],
      "id": "f34bc764-0c25-4adb-9f40-897647a2c7d8",
      "name": "Create Draft"
    },
    {
      "parameters": {
        "description": "Call this tool to clean email spam",
        "workflowId": {
          "__rl": true,
          "value": "penMMNPrl3jphZRQ",
          "mode": "list",
          "cachedResultName": "mail-spam-cleaner"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $fromAI('chatInput', 'Chat message or email content', 'string') }}",
            "emailInstructions": "={{ $fromAI('emailInstructions', 'Email instructions including recipient, subject context, and any specific requirements', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "Chat Input",
              "required": true,
              "defaultValue": "",
              "type": "string"
            },
            {
              "id": "emailInstructions",
              "displayName": "Email Instructions",
              "required": true,
              "defaultValue": "",
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        464,
        160
      ],
      "id": "555e7ccb-6982-4772-95b6-22f2cc99e664",
      "name": "Clean Spam"
    },
    {
      "parameters": {
        "description": "Call this tool to clean email spam",
        "workflowId": {
          "__rl": true,
          "value": "prHQevGtXaWcY7wg",
          "mode": "list",
          "cachedResultName": "mail-draft-cleaner"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $fromAI('chatInput', 'Chat message or email content', 'string') }}",
            "emailInstructions": "={{ $fromAI('emailInstructions', 'Email instructions including recipient, subject context, and any specific requirements', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "Chat Input",
              "required": true,
              "defaultValue": "",
              "type": "string"
            },
            {
              "id": "emailInstructions",
              "displayName": "Email Instructions",
              "required": true,
              "defaultValue": "",
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        336,
        160
      ],
      "id": "f1c2cf76-fcdf-46a1-8c43-afe1d11707af",
      "name": "Clean Drafts"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "UNREAD"
          ]
        }
      },
      "id": "1721a5ce-e63c-4c15-8fd1-a99496e388e0",
      "name": "Fetch Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        496,
        -48
      ],
      "webhookId": "c47419de-278c-40d1-a5da-c9414d3f89c6",
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Executed by other flow": []
  },
  "connections": {
    "Executed by other flow": {
      "main": [
        [
          {
            "node": "Mail Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "Mail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Clean Drafts": {
      "ai_tool": [
        [
          {
            "node": "Mail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Clean Spam": {
      "ai_tool": [
        [
          {
            "node": "Mail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mail Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 60
  },
  "versionId": "1bce2dd4-5ab4-46be-ba31-fe23f8b6fdb9",
  "meta": {
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "3JUlir6U8RerkiHd",
  "tags": []
}