workflows/mail/mail-reply-draft.json
{
  "name": "mail-reply-draft",
  "nodes": [
    {
      "parameters": {
        "content": "This workflow triggers from Mail (IMAP), processes text with LLM Model, sets up an email field, and saves a draft.",
        "height": 112,
        "width": 192
      },
      "id": "3c7dc34b-b8a6-4474-a14d-62decd377fe0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Monitors IMAP email account for new incoming messages and triggers workflow when emails arrive.",
        "height": 112,
        "width": 196,
        "color": 3
      },
      "id": "ebc42d57-5081-4996-bacb-b8b44a415bc2",
      "name": "IMAP Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Filters out emails sent from my own email address to prevent creating drafts for my own sent emails.",
        "height": 112,
        "width": 180,
        "color": 4
      },
      "id": "883cc43d-9e44-4850-a065-351dbe82b5f4",
      "name": "Filter Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Uses an LLM AI language chain to analyze all of the incoming email content and generate appropriate reply text using OpenAI.",
        "height": 112,
        "width": 228
      },
      "id": "067894bf-e85b-48d0-a9f2-03b1150a0ef6",
      "name": "AI Process Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Structures email data by setting reply fields: from address, subject (with 'Re:' prefix), and AI-generated message text.",
        "height": 112,
        "width": 196,
        "color": 6
      },
      "id": "c3b7c87b-d647-4568-a73f-ed7b9c4bbaf2",
      "name": "Prepare Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Saves the prepared email reply as a Gmail draft using Gmail API, ready for manual review and sending.",
        "height": 112,
        "width": 180,
        "color": 5
      },
      "id": "f4e11630-0a33-4a38-a9bd-46bbdcebe8b9",
      "name": "Gmail Draft Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Provides GPT-4.1-mini LLM language model capabilities for the AI email processing chain with OpenAI API.",
        "height": 112,
        "width": 180
      },
      "id": "d7264e82-8096-4681-8a6e-252cd6471e5e",
      "name": "OpenAI Model Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "options": {}
      },
      "id": "1add20fd-7422-4d13-9e96-1aeb3a3927f4",
      "name": "Check New Email (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [
        176,
        48
      ],
      "typeVersion": 2,
      "credentials": {
        "imap": {
          "id": "NBfMzCctD9ha97vJ",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1e4c0b4-7a5b-4b19-8f3e-2d1c9e8f7a6b",
              "leftValue": "={{ $json.from }}",
              "rightValue": "jomirusergiu@gmail.com",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "205cef86-ddfc-4458-957d-b772ab5cbdc7",
      "name": "Filter Out Own Emails",
      "type": "n8n-nodes-base.if",
      "position": [
        448,
        48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.textPlain }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI email assistant.  \nYour task is to generate professional, well-structured email replies based on the incoming email content.  \n\nGuidelines:\n- Always address the sender by name if provided.  \n- Keep the tone respectful, clear, and professional. \n- Structure the email with proper greeting, body, and closing \n- Every new sentence in the body should be from new line\n- Ensure proper grammar and formatting for paragraphs in the body\n- Include all necessary information mentioned\n- Summarize long emails before replying if needed.  \n- Provide clear answers or actions, and confirm receipt when appropriate.  \n- If the request is unclear, politely ask for clarification.  \n- Keep replies short (3–6 sentences), unless a longer explanation is required.  \n- Use correct grammar and formatting.  \n- Do not include subject line in the email body \n\nEmail structure example:\n'Dear [RECIPIENT],\n\nThank you for your message.\n\nI appreciate you taking the time to review my application and proceed accordingly.\nPlease let me know if you need any additional information from my side.\n\nBest regards,\nSergiu'\n\nInput: {{ $json.textPlain }} \n\nOutput: Drafted email reply body, with Best Regards, my name is Sergiu."
            }
          ]
        }
      },
      "id": "f7504c78-505f-4c0e-826f-e4bc83fd0271",
      "name": "Process Email with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        688,
        48
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d428c48-4809-45d8-ba1e-c96d68c02c07",
              "name": "from",
              "type": "string",
              "value": "={{ $('Check New Email (IMAP)').first().json.from }}"
            },
            {
              "id": "63b99545-3d2d-4563-b9d7-078cbc20dbcc",
              "name": "subject",
              "type": "string",
              "value": "=Re: {{ $('Check New Email (IMAP)').first().json.subject }}"
            },
            {
              "id": "11d94d3f-2170-4b54-b5f9-b85bb95ad472",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }} "
            }
          ]
        },
        "options": {}
      },
      "id": "4e20dbf1-0aa0-44c9-a68a-4c27267628b6",
      "name": "Prepare Email Content",
      "type": "n8n-nodes-base.set",
      "position": [
        1024,
        48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        224
      ],
      "id": "3dabb084-addf-4674-b358-3cd16abfcfad",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wwvhoLcIlADIQmDC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "97c97fa1-f148-4729-9262-ea6ec9c6aeca",
      "name": "Pause Before Sending",
      "type": "n8n-nodes-base.wait",
      "position": [
        1264,
        48
      ],
      "webhookId": "0b2f9902-fd7b-4a98-87a3-f36c74b0af32",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "Introduces a short delay to avoid hitting Gmail’s API rate limits or ensure all emails are fetched properly.",
        "height": 112,
        "width": 180,
        "color": 5
      },
      "id": "db81230d-5580-416f-b0d3-7f977defcf1b",
      "name": "Gmail Draft Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "id": "8156e528-b855-4313-973b-575da19fd2ed",
      "name": "Save as Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1488,
        48
      ],
      "webhookId": "12345678-90ab-cdef-1234-567890abcdef",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare Email Content": {
      "main": [
        [
          {
            "node": "Pause Before Sending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Email with AI": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check New Email (IMAP)": {
      "main": [
        [
          {
            "node": "Filter Out Own Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Own Emails": {
      "main": [
        [
          {
            "node": "Process Email with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Process Email with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pause Before Sending": {
      "main": [
        [
          {
            "node": "Save as Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "timeSavedPerExecution": 10
  },
  "versionId": "4e22bd7f-846b-48e3-bae9-0a992632abfe",
  "meta": {
    "templateId": "5196",
    "templateCredsSetupCompleted": true,
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "SoWKY6F8J5XOKjMQ",
  "tags": [
    {
      "createdAt": "2025-09-08T07:55:19.208Z",
      "updatedAt": "2025-09-08T07:55:19.208Z",
      "id": "8mzLwVwaYcqGeRXd",
      "name": "email"
    },
    {
      "createdAt": "2025-09-08T07:55:37.716Z",
      "updatedAt": "2025-09-08T07:55:37.716Z",
      "id": "Wotdd6nOv1ZH7qrJ",
      "name": "drafts"
    },
    {
      "createdAt": "2025-08-04T04:19:34.812Z",
      "updatedAt": "2025-08-04T04:19:34.812Z",
      "id": "i9zHVsEzM4VbgpCT",
      "name": "automation"
    }
  ]
}