workflows/general/general-agent.json
{
  "name": "general-agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        -208
      ],
      "id": "3bdd7c68-f693-443b-a71d-08b52ffeaba2",
      "name": "Executed by other flow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "o3",
          "cachedResultName": "o3"
        },
        "options": {}
      },
      "id": "70e49120-f120-43d6-8461-2d880bd1b200",
      "name": "Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        80,
        0
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "wwvhoLcIlADIQmDC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "UNREAD"
          ]
        }
      },
      "id": "3490d7f4-0128-41e8-9564-84dd63db052a",
      "name": "Fetch Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        496,
        -208
      ],
      "webhookId": "c47419de-278c-40d1-a5da-c9414d3f89c6",
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json}}",
        "options": {
          "systemMessage": "You are a helpful General Assistant. \nMy name is Sergiu.\n\n🔑 Rules:\n1. For newsletters or latest news → call \"Newsletter\" workflow tool.\n2. For weekly reports → call \"Report\" workflow tool.\n3. For other general questions → answer directly.\n\n💾 Memory:\n- Keep track of recent news/report queries.\n\n📤 Output JSON:\n{\n  \"action\": \"tool_call\" | \"respond\",\n  \"tool\": \"Newsletter | Report | None\",\n  \"arguments\": { \"topic\": \"subject matter\" },\n  \"response\": \"Explanation or report for Sergiu\"\n}\n"
        }
      },
      "id": "c038e6a5-b3e6-41f0-9427-3319c175be7e",
      "name": "General Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        192,
        -208
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "description": "Call this tool to trigger the newsletter fetch",
        "workflowId": {
          "__rl": true,
          "value": "9MWvHmSry7VECDzJ",
          "mode": "list",
          "cachedResultName": "newsletter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $fromAI('chatInput', 'Chat message or email content', 'string') }}",
            "emailInstructions": "={{ $fromAI('emailInstructions', 'Email instructions including recipient, subject context, and any specific requirements', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "Chat Input",
              "required": true,
              "defaultValue": "",
              "type": "string"
            },
            {
              "id": "emailInstructions",
              "displayName": "Email Instructions",
              "required": true,
              "defaultValue": "",
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "2f81d741-15ba-4082-8a9d-59caf118239e",
      "name": "Newsletter"
    },
    {
      "parameters": {
        "description": "Call this tool to trigger report generation",
        "workflowId": {
          "__rl": true,
          "value": "bT8VKE7JFnOTfSaU",
          "mode": "list",
          "cachedResultName": "report-weekly"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $fromAI('chatInput', 'Chat message or email content', 'string') }}",
            "emailInstructions": "={{ $fromAI('emailInstructions', 'Email instructions including recipient, subject context, and any specific requirements', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "Chat Input",
              "required": true,
              "defaultValue": "",
              "type": "string"
            },
            {
              "id": "emailInstructions",
              "displayName": "Email Instructions",
              "required": true,
              "defaultValue": "",
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        336,
        0
      ],
      "id": "b4e52467-a4a8-446d-85c0-a04cacb3b1d5",
      "name": "Report"
    }
  ],
  "pinData": {
    "Executed by other flow": []
  },
  "connections": {
    "Executed by other flow": {
      "main": [
        [
          {
            "node": "General Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "General Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter": {
      "ai_tool": [
        [
          {
            "node": "General Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Report": {
      "ai_tool": [
        [
          {
            "node": "General Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e0e7848-4d8f-477c-8391-3b28244389f9",
  "meta": {
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "mZYXdtXGow6VtJzc",
  "tags": []
}