workflows/general/mail-trash-cleaner.json
{
  "name": "mail-trash-cleaner",
  "nodes": [
    {
      "parameters": {},
      "id": "f715005c-b49d-4e1a-b715-8a9d68cadd40",
      "name": "Pause Before Deletion (5s)",
      "type": "n8n-nodes-base.wait",
      "position": [
        528,
        -32
      ],
      "webhookId": "0b2f9902-fd7b-4a98-87a3-f36c74b0af32",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "Introduces a short delay to avoid hitting Gmail’s API rate limits to to fetch all emails",
        "height": 96,
        "width": 186
      },
      "id": "b21dc48c-510b-4ba9-8886-87f6fe9ee2fb",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "deleted_emails",
        "options": {}
      },
      "id": "77bce7d3-c1ac-41ec-a9e8-ae7e9f932e43",
      "name": "Aggregate Deleted Emails",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        944,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "jomirusergiu@gmail.com",
        "toEmail": "jomirusergiu@gmail.com",
        "subject": "=Mail Draft Cleanup Report - {{ $json.deleted_emails.length }} emails deleted",
        "emailFormat": "text",
        "text": "=Mail Draft Cleanup completed successfully.\n\n{{ $json.deleted_emails.length }} draft emails were permanently deleted from your Gmail account.\n\nCleanup Date: {{ $now.format(\"MMM dd, yyyy HH:mm:ss\") }}",
        "options": {
          "appendAttribution": false,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "0990a51f-2215-474a-a3a1-86a42b3ea15b",
      "name": "Send Email Briefing",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1152,
        -32
      ],
      "webhookId": "52757a00-9c6f-4c00-b7b2-03bc25c4b28d",
      "credentials": {
        "smtp": {
          "id": "hDZ18LOe4Kax4dpH",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "Permanently deletes all emails retrieved from the trash folder to free up the Gmail space.\n",
        "height": 96,
        "width": 186,
        "color": 4
      },
      "id": "1db547b2-c22e-4eed-9fd2-3fe43ccb269a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Uses Gmail API to retrieve all emails in the trash folder for authenticated Gmail.",
        "height": 96,
        "width": 186,
        "color": 5
      },
      "id": "4fd72999-163f-4f50-b9ec-92f326a6f551",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Aggregates all deleted trash emails data to prepare summary info for single notification.",
        "height": 96,
        "width": 186,
        "color": 6
      },
      "id": "7da1a0df-d686-4438-bdf5-e98cde0194da",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Sends one single notification email with summary of all deleted trash messages.",
        "height": 96,
        "width": 186,
        "color": 2
      },
      "id": "43f6625e-15a8-4a9b-a4fd-c50215e407c6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        160
      ],
      "id": "c219af4e-d465-4ecd-9b75-a8ff448877b4",
      "name": "Executed by other flow"
    },
    {
      "parameters": {
        "content": "Introduces a short delay to avoid hitting Gmail’s API rate limits to to fetch all emails",
        "height": 96,
        "width": 186
      },
      "id": "c60f3579-8cd0-4e94-96ea-443a063ef3ff",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "jomirusergiu@gmail.com",
        "toEmail": "jomirusergiu@gmail.com",
        "subject": "=Mail Trash Cleanup Report - no draft emails were found.",
        "emailFormat": "text",
        "text": "=Mail Trash Cleanup completed successfully.\n\nNo trash emails were found in your Gmail account.\n\nCleanup Date: {{ $now.format(\"MMM dd, yyyy HH:mm:ss\") }}",
        "options": {
          "appendAttribution": false,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "8ed1288a-8876-46f4-adba-d21af3a3c7d9",
      "name": "Send Report N/A",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1152,
        160
      ],
      "webhookId": "52757a00-9c6f-4c00-b7b2-03bc25c4b28d",
      "credentials": {
        "smtp": {
          "id": "hDZ18LOe4Kax4dpH",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "Starts the workflow on request to perform cleanup of the trash \nemail folder.",
        "height": 96,
        "width": 186,
        "color": 3
      },
      "id": "eb6ebf5c-4c72-4956-a2dc-d280700f2098",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "94ed442a-0dde-4a7a-a484-8c15e96b64a5",
      "name": "Monthly Trigger (1st)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -128,
        -32
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.id }}"
      },
      "id": "4fba0874-6a30-4ee6-8611-60d7551e5623",
      "name": "Delete Trash",
      "type": "n8n-nodes-base.gmail",
      "position": [
        720,
        -32
      ],
      "webhookId": "46b0fe0f-cc00-4994-8364-9048c888e9ef",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "TRASH"
          ]
        }
      },
      "id": "77b66798-cc1c-4198-940b-60ac3fdd5442",
      "name": "Fetch Trash Emails",
      "type": "n8n-nodes-base.gmail",
      "position": [
        96,
        -32
      ],
      "webhookId": "c47419de-278c-40d1-a5da-c9414d3f89c6",
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cd524b08-fd72-40ff-b796-eac22baac351",
              "leftValue": "={{ $json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "0668456d-51e0-4a5d-b21a-4dfdde3b3c55",
      "name": "Check if Trash emails exist",
      "type": "n8n-nodes-base.if",
      "position": [
        320,
        -32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "id": "2d56667f-74c7-4732-96b9-3a357d70c3c6",
      "name": "No Trash Found",
      "type": "n8n-nodes-base.set",
      "position": [
        528,
        160
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Pause Before Deletion (5s)": {
      "main": [
        [
          {
            "node": "Delete Trash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Deleted Emails": {
      "main": [
        [
          {
            "node": "Send Email Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executed by other flow": {
      "main": [
        [
          {
            "node": "Fetch Trash Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Trigger (1st)": {
      "main": [
        [
          {
            "node": "Fetch Trash Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Trash": {
      "main": [
        [
          {
            "node": "Aggregate Deleted Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trash Emails": {
      "main": [
        [
          {
            "node": "Check if Trash emails exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Trash emails exist": {
      "main": [
        [
          {
            "node": "Pause Before Deletion (5s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Trash Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Trash Found": {
      "main": [
        [
          {
            "node": "Send Report N/A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfca31da-82bb-41c4-8421-dbf22ea16d35",
  "meta": {
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "YbEtNU7da2Qj2v37",
  "tags": []
}