mail-spam-cleaner.json
{
  "name": "mail-spam-cleaner",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "SPAM"
          ]
        }
      },
      "id": "e11bfafa-2599-484c-958e-efe7d73ae2d7",
      "name": "Fetch SPAM Emails (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "position": [
        640,
        192
      ],
      "webhookId": "c47419de-278c-40d1-a5da-c9414d3f89c6",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a80556ef-2e47-4fb4-8861-f2ad180069da",
      "name": "Pause Before Deletion (5s)",
      "type": "n8n-nodes-base.wait",
      "position": [
        864,
        192
      ],
      "webhookId": "0b2f9902-fd7b-4a98-87a3-f36c74b0af32",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.id }}"
      },
      "id": "fdf6daf4-0817-42f3-b9f4-940f8e4c1ef8",
      "name": "Delete Fetched SPAM Emails",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1088,
        192
      ],
      "webhookId": "46b0fe0f-cc00-4994-8364-9048c888e9ef",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Starts the workflow automatically on the 1st of every month to perform email cleanup.",
        "height": 264,
        "width": 218,
        "color": 3
      },
      "id": "892aef18-dc1c-4e45-bff3-704012f2b687",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Uses Gmail API to retrieve all emails in the SPAM folder for authenticated Gmail account.",
        "height": 264,
        "width": 202,
        "color": 5
      },
      "id": "985f4269-bca0-48ca-a580-f23f2671860a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Introduces a short delay to avoid hitting Gmail’s API rate limits or ensure all emails are fetched properly.",
        "height": 264,
        "width": 218
      },
      "id": "05e03031-1967-4152-bb11-920ed1621256",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Permanently deletes all emails retrieved from the spam folder to free up the Gmail space.\n",
        "height": 264,
        "width": 234,
        "color": 4
      },
      "id": "b4ff116e-6143-4a08-8aa2-eda43c772e00",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "33287b08-0a30-4f4c-a8b3-572e40c36442",
      "name": "Monthly Trigger (1st)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        432,
        192
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "deleted_emails",
        "options": {}
      },
      "id": "ad38e7c0-661c-4443-bd2f-bd162a8a29db",
      "name": "Aggregate Deleted Emails",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1328,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "jomirusergiu@gmail.com",
        "subject": "=Mail Spam Cleanup - {{ $json.deleted_emails.length }} emails deleted",
        "emailType": "text",
        "message": "=Mail Spam Cleanup completed successfully.\n\n{{ $json.deleted_emails.length }} spam emails were permanently deleted from your Gmail account.\n\nCleanup Date: {{ $now.format(\"MMM dd, yyyy HH:mm:ss\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fc905638-3d58-4990-b1d2-70e274641f0b",
      "name": "Send Notification",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1568,
        192
      ],
      "webhookId": "18c29d10-9bf5-4678-b6ba-c93ed6865317",
      "typeVersion": 2.1,
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Aggregates all deleted spam emails data to prepare summary information for single notification.",
        "height": 264,
        "width": 218,
        "color": 6
      },
      "id": "53723ad9-484a-4b02-9214-2fc7fb882778",
      "name": "Aggregate Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Sends one single notification email with summary of all deleted spam messages including count and timestamp.",
        "height": 264,
        "width": 266,
        "color": 2
      },
      "id": "72aa2d9a-2650-43e7-9ee0-ef6fea0ea2ca",
      "name": "Notification Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        96
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch SPAM Emails (Gmail)": {
      "main": [
        [
          {
            "node": "Pause Before Deletion (5s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Before Deletion (5s)": {
      "main": [
        [
          {
            "node": "Delete Fetched SPAM Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Trigger (1st)": {
      "main": [
        [
          {
            "node": "Fetch SPAM Emails (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Fetched SPAM Emails": {
      "main": [
        [
          {
            "node": "Aggregate Deleted Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Deleted Emails": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "timeSavedPerExecution": 10
  },
  "versionId": "c6b7b7b1-c2af-4cec-bbb6-0bac674038df",
  "meta": {
    "templateId": "6122",
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "penMMNPrl3jphZRQ",
  "tags": [
    {
      "createdAt": "2025-09-08T07:55:19.208Z",
      "updatedAt": "2025-09-08T07:55:19.208Z",
      "id": "8mzLwVwaYcqGeRXd",
      "name": "email"
    },
    {
      "createdAt": "2025-09-08T07:55:22.137Z",
      "updatedAt": "2025-09-08T07:55:22.137Z",
      "id": "VPDBXUiMYIm0ZfUI",
      "name": "spam"
    },
    {
      "createdAt": "2025-08-04T04:19:34.812Z",
      "updatedAt": "2025-08-04T04:19:34.812Z",
      "id": "i9zHVsEzM4VbgpCT",
      "name": "automation"
    }
  ]
}