workflows/mail-draft.json
{
  "name": "mail-draft",
  "nodes": [
    {
      "parameters": {
        "content": "This workflow takes input email, processes it with LLM to generate emails, and saves them as Gmail drafts.",
        "height": 112,
        "width": 192
      },
      "id": "0dc1b963-ee09-43bc-b0fe-9031b01ec7a3",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Manual chat messaging node trigger that accepts the user input including the recipient, subject, and email context or instructions.",
        "height": 112,
        "width": 228,
        "color": 3
      },
      "id": "10a5c8d6-91ce-4099-a327-02b9c8c9b6bf",
      "name": "Manual Input Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Uses LLM AI language chain to generate professional emails based on user input context and instructions using OpenAI.",
        "height": 112,
        "width": 228
      },
      "id": "d3c790e8-6b57-468c-ab7f-3446f3c97344",
      "name": "AI Process Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Structures email data by setting recipient address, subject, and AI-generated email content for draft creation.",
        "height": 112,
        "width": 196,
        "color": 6
      },
      "id": "25975d2c-42e5-4666-9347-1bd225494be1",
      "name": "Prepare Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Saves the generated email as a Gmail draft using Gmail API, ready for manual review and sending.",
        "height": 112,
        "width": 180,
        "color": 5
      },
      "id": "34dffc94-c580-4896-84c1-7e84fb3a2e27",
      "name": "Gmail Draft Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=send message {{ $json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI email writing assistant.\nYour task is to generate professional, well-structured emails based on the provided context and instructions.\n\nGuidelines:\n- Always address the sender by name if provided.  \n- Keep the tone respectful, clear, and professional. \n- Structure the email with proper greeting, body, and closing \n- Every new sentence in the body should be from new line\n- Ensure proper grammar and formatting for paragraphs in the body\n- Include all necessary information mentioned\n- Summarize long emails before replying if needed.  \n- Provide clear answers or actions, and confirm receipt when appropriate.  \n- If the request is unclear, politely ask for clarification.  \n- Keep replies short (3–6 sentences), unless a longer explanation is required.  \n- Use correct grammar and formatting.  \n- Do not include subject line in the email body \n\nEmail structure example:\n'Dear [RECIPIENT],\n\nThank you for your message.\n\nI appreciate you taking the time to review my application and proceed accordingly.\nPlease let me know if you need any additional information from my side.\n\nBest regards,\nSergiu'\n\nInput Instructions: {{ $json.emailInstructions }}\nContext/Purpose: get the context from the instructions\nSubject/Title: add subject or topic of email based on the instructions\n\nOutput: Drafted email reply body, with Best Regards, my name is Sergiu. Also add subject into output json under subject key."
            }
          ]
        }
      },
      "id": "43e25e95-b719-4fe5-af1e-0c9412adf287",
      "name": "Generate Email with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        256,
        144
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63b99545-3d2d-4563-b9d7-078cbc20dbcc",
              "name": "subject",
              "type": "string",
              "value": "={{ $json.subject }}"
            },
            {
              "id": "11d94d3f-2170-4b54-b5f9-b85bb95ad472",
              "name": "message",
              "type": "string",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a5cb4397-8bbe-4aad-9f45-bab0e5da2315",
      "name": "Prepare Email Content",
      "type": "n8n-nodes-base.set",
      "position": [
        768,
        144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "2baad308-9e8b-4ed2-908d-9a2f16bb8dbb",
      "name": "Save as Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "position": [
        976,
        144
      ],
      "webhookId": "12345678-90ab-cdef-1234-567890abcdef",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        320
      ],
      "id": "a61306c0-fe1a-4e44-b4ae-cdee9dd1aa8d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wwvhoLcIlADIQmDC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let parsed;\n  try {\n    parsed = JSON.parse(item.json.text); // try to parse the string as JSON\n  } catch (e) {\n    parsed = { subject: \"\", text: item.json.text }; // fallback\n  }\n  return { json: parsed };\n});\n"
      },
      "id": "8b350852-935f-4143-ac49-fb74c5f08af2",
      "name": "Parse JSON Status",
      "type": "n8n-nodes-base.code",
      "position": [
        560,
        144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "Parses JSON output from the LLM Model getting subject and body of generated email contents.",
        "height": 112,
        "width": 184,
        "color": 6
      },
      "id": "daa547cf-5d46-4771-89d0-f484d3e6144c",
      "name": "Parse Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "id": "8dc03c91-6d4d-4814-aff3-eb6ce83bacc5",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -32,
        144
      ],
      "webhookId": "9eab0524-6cd7-4b81-8bd8-4d050a972a08",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "contextWindowLength": 50000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        320
      ],
      "id": "c0b3a4b8-b8fb-4d0a-ad90-d585ed3c8119",
      "name": "Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare Email Content": {
      "main": [
        [
          {
            "node": "Save as Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email with AI": {
      "main": [
        [
          {
            "node": "Parse JSON Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Email with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Status": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Generate Email with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 10
  },
  "versionId": "6826f7ac-adda-4d94-b8cd-33c7f120d075",
  "meta": {
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "BWHgDUTxbsqAcgYw",
  "tags": [
    {
      "createdAt": "2025-09-08T07:55:19.208Z",
      "updatedAt": "2025-09-08T07:55:19.208Z",
      "id": "8mzLwVwaYcqGeRXd",
      "name": "email"
    },
    {
      "createdAt": "2025-09-09T01:56:14.838Z",
      "updatedAt": "2025-09-09T01:56:14.838Z",
      "id": "WGKeBpZ8QGTDFC5E",
      "name": "compose"
    },
    {
      "createdAt": "2025-09-08T07:55:37.716Z",
      "updatedAt": "2025-09-08T07:55:37.716Z",
      "id": "Wotdd6nOv1ZH7qrJ",
      "name": "drafts"
    }
  ]
}