workflows/tools/git-tool.json
{
  "name": "git-tool",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3440,
        1024
      ],
      "id": "24c98eb2-0670-4c8a-819a-6504cbb57ea8",
      "name": "Executed by other flow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ ($json.chatInput || $json.query) + ' ' + ($json.gitInstructions || '') }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI operation classifier for git tasks. Analyze the user's request and determine which git operation they want to perform.|Available operations:1. **CODE_REVIEW** - ANY request that mentions pull requests, PRs, merge requests, MRs, code changes, diffs, or code review. This includes checking if PRs exist, listing PRs, viewing PRs, or reviewing code.2. **UPDATE_REPOS** - Requests to update, pull, fetch, sync, rebase, or merge branches in repositories.Analyze the user request: '{{ $json.chatInput || $json.query }}'Git instructions: '{{ $json.gitInstructions || 'None provided' }}'CRITICAL RULES:- If the request mentions \"pull request\", \"PR\", \"merge request\", or \"MR\" in ANY context → CODE_REVIEW- If the request asks to \"check\", \"list\", \"show\", \"view\", or \"see\" PRs/code → CODE_REVIEW- If the request asks to \"review\", \"examine\", or \"analyze\" code → CODE_REVIEWExamples:- 'Check if any pull requests are available' → CODE_REVIEW- 'Are there any PRs?' → CODE_REVIEW- 'Check for open pull requests' → CODE_REVIEW- 'List all PRs in the repository' → CODE_REVIEW- 'Show me open pull requests' → CODE_REVIEW- 'Review my PR #42' → CODE_REVIEW- 'Do a code review on feature/login' → CODE_REVIEW- 'Check the diff and leave feedback' → CODE_REVIEW- 'Pull the latest changes in all repos' → UPDATE_REPOS- 'Sync my fork with upstream main' → UPDATE_REPOS- 'Fetch & rebase my feature branch onto develop' → UPDATE_REPOS- 'Update dependencies across repos' → UPDATE_REPOSIMPORTANT: Respond with ONLY the operation name in JSON format:{\"operation\": \"CODE_REVIEW\"} or {\"operation\": \"UPDATE_REPOS\"}When in doubt about PRs or code changes, ALWAYS choose CODE_REVIEW."
            }
          ]
        }
      },
      "id": "cca75893-53cb-4589-95df-8abc608a5a19",
      "name": "AI Operation Classifier",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -3280,
        1024
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "jsCode": "// Get the original input from the workflow trigger\nconst originalInput = $('Executed by other flow').first().json;\n\nreturn items.map(item => {\n  let parsed;\n  try {\n    parsed = JSON.parse(item.json.text);\n    // Merge with original input data\n    return { \n      json: {\n        ...item.json,\n        ...parsed,\n        originalChatInput: originalInput.chatInput || originalInput.query,\n        originalGitInstructions: originalInput.gitInstructions\n      }\n    };\n  } catch (e) {\n    // Default to UPDATE_REPOS if parsing fails\n    return { \n      json: {\n        ...item.json,\n        operation: \"UPDATE_REPOS\",\n        originalChatInput: originalInput.chatInput || originalInput.query,\n        originalGitInstructions: originalInput.gitInstructions\n      }\n    };\n  }\n});"
      },
      "id": "b4764e09-a333-470b-b1fa-de6f716a88d5",
      "name": "Parse Operation Decision",
      "type": "n8n-nodes-base.code",
      "position": [
        -2992,
        1024
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ (() => {\n  const a = String($json.operation ?? '').trim().toLowerCase();\n  const map = {\n    'update_repos': 0,\n    'code_review': 1,\n  };\n  return map[a] ?? -1; // -1 routes to fallback (enable it)\n})() }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2832,
        1024
      ],
      "id": "3942a925-3cac-4deb-a849-a075ebbcde5b",
      "name": "Domain Decision"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const inputData = $input.all();\n  \n  if (!inputData || inputData.length === 0) {\n    return [{\n      json: {\n        user_message: \"No file changes found in the pull requests.\",\n        error: \"Empty input data\"\n      }\n    }];\n  }\n\n  const files = inputData.map(item => item.json).filter(file => file && typeof file === 'object');\n  \n  if (files.length === 0) {\n    return [{\n      json: {\n        user_message: \"No valid file data found in the pull requests.\",\n        error: \"No valid files\"\n      }\n    }];\n  }\n\n  let diffs = '';\n  let currentPR = null;\n  let prCount = 0;\n\n  // Group files by PR\n  const prGroups = {};\n  files.forEach(file => {\n    const prKey = `${file.repository}#${file.prNumber}`;\n    if (!prGroups[prKey]) {\n      prGroups[prKey] = {\n        repository: file.repository,\n        prNumber: file.prNumber,\n        prTitle: file.prTitle,\n        prUrl: file.prUrl,\n        files: []\n      };\n    }\n    prGroups[prKey].files.push(file);\n  });\n\n  // Process each PR group\n  Object.keys(prGroups).forEach(prKey => {\n    const pr = prGroups[prKey];\n    prCount++;\n    \n    diffs += `\\n## PR ${prCount}: ${pr.repository} #${pr.prNumber}\\n`;\n    diffs += `**Title:** ${pr.prTitle}\\n`;\n    diffs += `**URL:** ${pr.prUrl}\\n\\n`;\n\n    for (const file of pr.files) {\n      if (!file.filename) continue;\n      \n      diffs += `### File: ${file.filename}\\n`;\n      diffs += `**Status:** ${file.status || 'unknown'} | **Changes:** +${file.additions || 0}/-${file.deletions || 0}\\n\\n`;\n\n      if (file.patch) {\n        // Replace triple backticks to avoid markdown conflicts\n        const safePatch = file.patch.replace(/```/g, \"''\");\n\n        diffs += \"```diff\\n\";\n        diffs += safePatch;\n        diffs += \"\\n```\\n\";\n      } else {\n        diffs += \"_No patch available (likely binary file or too large)._\";\n      }\n\n      diffs += \"\\n---\\n\\n\";\n    }\n\n    diffs += \"\\n===========================\\n\\n\";\n  });\n\n  if (!diffs.trim()) {\n    return [{\n      json: {\n        user_message: \"No file diffs found to review.\",\n        error: \"No diffs available\"\n      }\n    }];\n  }\n\n  const userMessage = `Please review the following code changes across ${prCount} pull request(s):\\n\\n${diffs}`;\n\n  return [\n    {\n      json: {\n        user_message: userMessage.trim(),\n        totalPRs: prCount,\n        totalFiles: files.length\n      }\n    }\n  ];\n} catch (error) {\n  return [{\n    json: {\n      user_message: \"Error processing pull request files: \" + error.message,\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "b9aa52b1-d31d-4089-9916-06418d9a7373",
      "name": "Create target Prompt from PR Diffs",
      "type": "n8n-nodes-base.code",
      "position": [
        -1680,
        1040
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a code reviewer. \n\nSTEPS:\n1. Call 'getInputData' tool to get the actual file changes to review\n2. Call 'codeBestPractices' tool to get review guidelines\n3. Review each file in the data from step 1\n\nLook for lines starting with \"### File:\" in the input data, extract exact filenames, and review the diff content.\n\nFormat:\n### File: [exact filename from input]\n[review] OR LGTM\n\nSummary: Reviewed X files.",
        "options": {}
      },
      "id": "3be153b4-215d-4e79-b5ba-3eb04714bba8",
      "name": "Code Review Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1440,
        1040
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "jsCode": "// Get first input item\nconst data = $input.first();\n\nif (!data || !data.json || !data.json.output) {\n  throw new Error('No output found in input item.');\n}\n\n// Only replace literal backslash + n that are followed by a space or end-of-string\n// This prevents messing with LaTeX commands\nconst cleanTex = data.json.output.replace(/\\\\n(?=\\s|$)/g, \"\\n\");\n\n// Return both viewable JSON and downloadable binary\nreturn {\n  json: {\n    reviewContent: cleanTex,\n    fileName: \"review.txt\",\n    mimeType: \"text/plain\",\n    size: cleanTex.length\n  },\n  binary: {\n    data: {\n      data: Buffer.from(cleanTex, \"utf8\").toString(\"base64\"),\n      mimeType: \"text/plain\",\n      fileName: \"review.txt\"\n    }\n  }\n};\n"
      },
      "id": "2b5db790-c87b-4eea-b399-f294f9f0b719",
      "name": "Export File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        1040
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "0ed18fac-467b-4b1c-b49a-8fc9b90f15e9",
      "name": "OpenAI Brain",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1472,
        1248
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "wwvhoLcIlADIQmDC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Fetches open pull requests from Tardigrade repository using GitHub API with authentication.",
        "height": 112,
        "width": 184,
        "color": 5
      },
      "id": "e801e91e-5147-4741-818a-51b99f938b08",
      "name": "Tardigrade PR Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2480,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Checks if any pull requests exist in Tardigrade repository before proceeding with processing.",
        "height": 112,
        "width": 216,
        "color": 4
      },
      "id": "00bbea22-6735-4fec-93de-563f3f5678e7",
      "name": "Check Tardigrade Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Processes multiple Tardigrade PRs and creates metadata for file fetching including PR numbers & URLs.",
        "height": 112,
        "width": 200,
        "color": 6
      },
      "id": "e95a29a0-9c6d-45b5-b1bd-cdd53a02fb97",
      "name": "Process Tardigrade Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2064,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Fetches detailed file changes and diffs from each of the pull request using GitHub Files API.",
        "height": 112,
        "width": 166,
        "color": 2
      },
      "id": "d65d06e0-1e33-4f99-ae6e-2d1d3a2a8388",
      "name": "Fetch Files Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1856,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Creates formatted prompt with PR diffs, groups files by PR, preparing data for AI code review.",
        "height": 112,
        "width": 166
      },
      "id": "34c4a94c-b944-4430-ae9e-e49b3d6cb7ad",
      "name": "Create Prompt Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Code Review Open AI agent that performs comprehensive code review using GPT-4, analyzes differences, and provides feedback.",
        "height": 112,
        "width": 232
      },
      "id": "51a1e8b4-0563-4008-b067-02c589e4c903",
      "name": "AI Review Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Exports the AI code review results as a text file for external viewing and record keeping.",
        "height": 112,
        "width": 168
      },
      "id": "6cb0180c-d35e-44b3-8a9f-f595a8f6aad1",
      "name": "Export Review Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "codeBestPractices",
        "description": "Provides comprehensive code best practices and guidelines for code review. Use this tool to get coding standards, security practices, performance guidelines, and language-specific recommendations.",
        "jsCode": "// Code Best Practices Tool\nconst codeBestPractices = {\n  general: [\n    \"Follow consistent naming conventions throughout the codebase\",\n    \"Write clear, self-documenting code with meaningful variable names\",\n    \"Keep functions small and focused on a single responsibility\",\n    \"Use proper error handling and logging\",\n    \"Write unit tests for critical functionality\",\n    \"Follow DRY (Don't Repeat Yourself) principle\",\n    \"Use version control effectively with clear commit messages\",\n    \"Document complex business logic and algorithms\"\n  ],\n  security: [\n    \"Validate and sanitize all user inputs\",\n    \"Use parameterized queries to prevent SQL injection\",\n    \"Implement proper authentication and authorization\",\n    \"Store sensitive data securely (encrypted)\",\n    \"Keep dependencies up to date\",\n    \"Use HTTPS for all data transmission\",\n    \"Implement proper session management\",\n    \"Follow principle of least privilege\"\n  ],\n  performance: [\n    \"Optimize database queries and use indexes appropriately\",\n    \"Implement caching strategies where beneficial\",\n    \"Use lazy loading for large datasets\",\n    \"Minimize network requests and payload sizes\",\n    \"Profile and monitor application performance\",\n    \"Use appropriate data structures for the task\",\n    \"Avoid premature optimization\",\n    \"Implement proper memory management\"\n  ],\n  csharp: [\n    \"Use nullable reference types appropriately\",\n    \"Follow Microsoft C# coding conventions\",\n    \"Use async/await for I/O operations\",\n    \"Implement IDisposable for resource cleanup\",\n    \"Use LINQ appropriately for data operations\",\n    \"Follow SOLID principles in class design\",\n    \"Use dependency injection for loose coupling\",\n    \"Handle exceptions at appropriate levels\"\n  ]\n};\n\n// Get the category requested or return all if no specific category\nconst category = $input.first()?.json?.category || 'all';\n\nlet output = 'CODE BEST PRACTICES FOR REVIEW:\\n\\n';\n\nif (category === 'all') {\n  for (const [cat, practices] of Object.entries(codeBestPractices)) {\n    output += `## ${cat.toUpperCase()} PRACTICES:\\n`;\n    practices.forEach((practice, index) => {\n      output += `${index + 1}. ${practice}\\n`;\n    });\n    output += '\\n';\n  }\n} else if (codeBestPractices[category]) {\n  output += `## ${category.toUpperCase()} PRACTICES:\\n`;\n  codeBestPractices[category].forEach((practice, index) => {\n    output += `${index + 1}. ${practice}\\n`;\n  });\n} else {\n  output = `Error: Category '${category}' not found. Available categories: ${Object.keys(codeBestPractices).join(', ')}`;\n}\n\n// LangChain tool must return a string\nreturn output;"
      },
      "id": "d55e9739-1fca-423b-bf6a-eedf132727ec",
      "name": "Get Best Practices",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [
        -1232,
        1248
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "getInputData",
        "description": "Gets the actual file changes to review from the workflow input",
        "jsCode": "// Get the input data from the workflow\nconst inputData = $input.all();\n\n// Look for user_message in the input data\nfor (const item of inputData) {\n  if (item.json && item.json.user_message) {\n    return item.json.user_message;\n  }\n}\n\n// Fallback - return raw input for debugging\nreturn 'Input data: ' + JSON.stringify(inputData, null, 2);"
      },
      "id": "41267d97-8f0b-43aa-a7fd-a3454b58acab",
      "name": "Get Input",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [
        -1360,
        1248
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/LSAS-Tec/Tardigrade/pulls?q=is%3Aopen+is%3Apr+draft%3Afalse",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f150dcd3-26bd-4586-b60e-f4b5d6ef2ff6",
      "name": "Get Tardigrade",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2480,
        1040
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubOAuth2Api": {
          "id": "Twucb529Xms8saey",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ Array.isArray($json) ? $json.length > 0 : $json.number }}",
              "rightValue": "",
              "operator": {
                "operation": "exists",
                "type": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6986d6d0-19a8-4a9a-85ae-ed4da43e5e5d",
      "name": "Check Tardigrade",
      "type": "n8n-nodes-base.if",
      "position": [
        -2288,
        1040
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Process multiple PRs from Tardigrade repository\nconst inputData = $input.first();\nconsole.log('Processing Tardigrade PRs:', JSON.stringify(inputData.json, null, 2));\n\n// Handle both array and single PR formats\nlet prs = [];\nif (Array.isArray(inputData.json)) {\n  prs = inputData.json;\n} else if (inputData.json && inputData.json.number) {\n  prs = [inputData.json];\n} else {\n  return [{\n    json: {\n      repository: 'LSAS-Tec/Tardigrade',\n      prs: [],\n      message: 'No PRs found to process'\n    }\n  }];\n}\n\nconsole.log(`Found ${prs.length} Tardigrade PRs to process`);\n\n// Create individual items for each PR that will be processed\nconst results = [];\nfor (const pr of prs) {\n  if (pr.number) {\n    results.push({\n      json: {\n        repository: 'LSAS-Tec/Tardigrade',\n        prNumber: pr.number,\n        prTitle: pr.title || 'Untitled PR',\n        prUrl: pr.html_url || '',\n        filesUrl: `https://api.github.com/repos/LSAS-Tec/Tardigrade/pulls/${pr.number}/files`\n      }\n    });\n  }\n}\n\nconsole.log(`Created ${results.length} items for Tardigrade PR processing`);\nreturn results;"
      },
      "id": "de3b2b86-f832-4571-a79b-bb9ca78a15a5",
      "name": "Process Tardigrade PRs",
      "type": "n8n-nodes-base.code",
      "position": [
        -2064,
        1040
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.filesUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "429370e7-fb7b-40ed-b5a6-19535e2133cc",
      "name": "Fetch PR Files",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1856,
        1040
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubOAuth2Api": {
          "id": "Twucb529Xms8saey",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "Notification about automated git code PR reviews will be sent to configured email address",
        "height": 112,
        "width": 166
      },
      "id": "105d561d-7295-41d3-af02-35382ecb7b31",
      "name": "Export File Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "jomirusergiu@gmail.com",
        "toEmail": "jomirusergiu@gmail.com",
        "subject": "=Git PR Reviews Report",
        "emailFormat": "text",
        "text": "={{ $json.reviewContent }}",
        "options": {
          "appendAttribution": false,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "848d8510-9684-4bbc-9465-9ad0a5cc78e7",
      "name": "Send Email Briefing",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -848,
        1040
      ],
      "webhookId": "52757a00-9c6f-4c00-b7b2-03bc25c4b28d",
      "credentials": {
        "smtp": {
          "id": "hDZ18LOe4Kax4dpH",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ $json.batchCommand }}"
      },
      "id": "cf81577a-385b-48b4-a8f2-4fa83cb378b5",
      "name": "Execute Status Check",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -2320,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Parse the JSON output from the PowerShell script and split repos that need updates\nconst inputData = $input.first();\nconst stdout = inputData.json.stdout || '';\n\ntry {\n  // Parse the JSON output from PowerShell\n  const statusData = JSON.parse(stdout);\n  const results = [];\n  \n  // Create separate items for repos that are behind (need updates)\n  Object.keys(statusData.repositories).forEach(repoName => {\n    const repo = statusData.repositories[repoName];\n    if (repo.status === 'BEHIND') {\n      results.push({\n        json: {\n          name: repoName,\n          path: repo.path,\n          status: repo.status,\n          behind: repo.behind,\n          ahead: repo.ahead,\n          lastCommit: repo.lastCommit,\n          needsUpdate: true\n        }\n      });\n    }\n  });\n  \n  // If no repos need updates, return a single status summary\n  if (results.length === 0) {\n    return [{\n      json: {\n        timestamp: statusData.timestamp,\n        summary: statusData.summary,\n        message: 'All repositories are up to date',\n        needsUpdate: false\n      }\n    }];\n  }\n  \n  return results;\n} catch (error) {\n  // Fallback if JSON parsing fails\n  return [{\n    json: {\n      timestamp: new Date().toISOString(),\n      error: 'Failed to parse PowerShell output',\n      rawOutput: stdout,\n      parseError: error.message,\n      needsUpdate: false\n    }\n  }];\n}"
      },
      "id": "cb4f8a0f-58ef-47f9-adf6-53e062f96611",
      "name": "Parse JSON Status",
      "type": "n8n-nodes-base.code",
      "position": [
        -2160,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Process repos and split flow: pull updates OR go to summary\nconst inputData = $input.all();\nconsole.log('Route for Updates input:', JSON.stringify(inputData, null, 2));\n\n// Check if we have any repos that actually need updates\nconst reposWithUpdates = inputData.filter(item => item.json.needsUpdate === true);\nconsole.log(`Found ${reposWithUpdates.length} repos with needsUpdate=true`);\n\nconst results = [];\n\nif (reposWithUpdates.length > 0) {\n  // We have repos that need updates - create pull commands for each\n  console.log('Creating pull commands for repositories:');\n  \n  reposWithUpdates.forEach(repo => {\n    console.log(`- Processing ${repo.json.name}: ${repo.json.behind} commits behind`);\n    \n    // Create pull command for this repo\n    const pullCommand = `powershell -Command \"git config --global --add safe.directory '${repo.json.path}'; cd '${repo.json.path}'; git fetch origin; if (-not (git branch --list main)) { git checkout -b main origin/main } else { git checkout main }; git pull origin main\"`;\n    \n    results.push({\n      json: {\n        name: repo.json.name,\n        path: repo.json.path,\n        pullCommand: pullCommand,\n        behind: repo.json.behind,\n        status: 'PULLING_UPDATES'\n      }\n    });\n  });\n  \n  console.log(`Created ${results.length} pull commands`);\n  return results;\n} else {\n  // No repos need updates\n  console.log('No repositories need updates - creating summary');\n  return [{\n    json: {\n      message: 'All repositories are up to date',\n      timestamp: new Date().toISOString(),\n      totalRepos: 0,\n      status: 'ALL_UP_TO_DATE'\n    }\n  }];\n}"
      },
      "id": "c7ee1bd1-35df-402c-9080-b87035fe2388",
      "name": "Route for Updates",
      "type": "n8n-nodes-base.code",
      "position": [
        -1840,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Filter repos that need pulling vs summary-only\nconst inputData = $input.all();\nconsole.log('Filter input:', JSON.stringify(inputData.map(item => ({name: item.json.name || 'N/A', status: item.json.status, message: item.json.message})), null, 2));\n\nconst reposForPulling = inputData.filter(item => item.json.status === 'PULLING_UPDATES');\nconst allUpToDate = inputData.filter(item => item.json.status === 'ALL_UP_TO_DATE');\n\nconsole.log(`${reposForPulling.length} repos need pulling, ${allUpToDate.length} items indicate all up to date`);\n\nif (reposForPulling.length > 0) {\n  // Return repos for pulling\n  console.log('Routing to pull operations:');\n  reposForPulling.forEach(repo => {\n    console.log(`- ${repo.json.name} will be pulled`);\n  });\n  return reposForPulling;\n} else if (allUpToDate.length > 0) {\n  // All repos are up to date - create a summary item that bypasses pull command\n  console.log('All repositories are up to date - creating summary for no updates');\n  return [{\n    json: {\n      timestamp: new Date().toISOString(),\n      summary: 'No repositories required updates - all are up to date',\n      updatedRepos: [],\n      totalUpdated: 0,\n      successCount: 0,\n      failureCount: 0,\n      message: allUpToDate[0].json.message,\n      totalRepos: allUpToDate[0].json.totalRepos,\n      skipPullCommand: true\n    }\n  }];\n} else {\n  // Fallback case\n  console.log('No clear status found - defaulting to no updates summary');\n  return [{\n    json: {\n      timestamp: new Date().toISOString(),\n      summary: 'No repositories required updates',\n      updatedRepos: [],\n      totalUpdated: 0,\n      successCount: 0,\n      failureCount: 0,\n      skipPullCommand: true\n    }\n  }];\n}"
      },
      "id": "7e34c934-7d08-4391-97af-3a7c0b486ef7",
      "name": "Filter by Status",
      "type": "n8n-nodes-base.code",
      "position": [
        -1680,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Route based on whether we have pull commands or summary data\nconst inputData = $input.all();\nconsole.log('Check Skip Pull input:', JSON.stringify(inputData.map(item => ({\n  name: item.json.name || 'N/A',\n  pullCommand: item.json.pullCommand ? 'EXISTS' : 'MISSING',\n  skipPullCommand: item.json.skipPullCommand,\n  summary: item.json.summary\n})), null, 2));\n\nconst itemsWithPullCommands = inputData.filter(item => \n  item.json.pullCommand && typeof item.json.pullCommand === 'string'\n);\n\nconst summaryItems = inputData.filter(item => \n  item.json.skipPullCommand === true || \n  item.json.summary || \n  !item.json.pullCommand\n);\n\nconsole.log(`${itemsWithPullCommands.length} items have pull commands, ${summaryItems.length} items are summary-only`);\n\nif (itemsWithPullCommands.length > 0) {\n  // Route to pull command execution\n  console.log('Routing to Execute Pull Command:');\n  itemsWithPullCommands.forEach(item => {\n    console.log(`- ${item.json.name}: has pullCommand`);\n  });\n  return itemsWithPullCommands;\n} else if (summaryItems.length > 0) {\n  // Route directly to summary\n  console.log('Routing directly to Generate Update Summary (no pulls needed)');\n  return summaryItems;\n} else {\n  // Fallback - create empty summary\n  console.log('No valid items found - creating empty summary');\n  return [{\n    json: {\n      timestamp: new Date().toISOString(),\n      summary: 'No repositories processed',\n      updatedRepos: [],\n      totalUpdated: 0,\n      successCount: 0,\n      failureCount: 0\n    }\n  }];\n}"
      },
      "id": "9a24377e-6b1d-4975-a1f4-c0834e86c4e9",
      "name": "Route Pull or Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        -1520,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.pullCommand }}",
              "rightValue": "",
              "operator": {
                "operation": "exists",
                "type": "string"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eee3fe6e-a4c5-4a12-b98f-bbd66bc04c4c",
      "name": "Has Pull Command",
      "type": "n8n-nodes-base.if",
      "position": [
        -1360,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "={{ $json.pullCommand }}"
      },
      "id": "579befad-da30-4abc-a66b-5b4810ebdc9f",
      "name": "Execute Pull Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -1184,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Get first input item\nconst data = $input.first();\n\nif (!data || !data.json || !data.json.logContent) {\n  throw new Error('No logContent found in input item.');\n}\n\n// Only replace literal backslash + n that are followed by a space or end-of-string\n// This prevents messing with LaTeX commands\nconst cleanTex = data.json.logContent.replace(/\\\\n(?=\\s|$)/g, \"\\n\");\n\n// Return both viewable JSON and downloadable binary\nreturn {\n  json: {\n    logContent: cleanTex,\n    fileName: \"log.txt\",\n    mimeType: \"text/plain\",\n    size: cleanTex.length\n  },\n  binary: {\n    data: {\n      data: Buffer.from(cleanTex, \"utf8\").toString(\"base64\"),\n      mimeType: \"text/plain\",\n      fileName: \"log.txt\"\n    }\n  }\n};\n"
      },
      "id": "d6ace117-d635-41d4-a769-c1738411f1b7",
      "name": "Export Log File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        736
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "ea583035-43aa-46c6-8764-165ea30a139c",
      "name": "Check Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2832,
        720
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "// Create PowerShell script to check git status and output JSON\n// Repository configurations\nconst inputData = [\n  { name: 'Agent Flows', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Work/Key/AgentWorklfows'},\n  { name: 'Tardigrade', path: 'C:/Repo/Tardigrade' },\n  { name: 'Tardigrade Data', path: 'C:/Users/Jomiru Sergiu/Documents/Terminal' },\n  { name: 'JP-Tardigrade-api', path: 'C:/Repo/JP-Tardigrade-api' },\n  { name: 'JP-AI', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-AI' },\n  { name: 'JP-Tardigrade', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-Tardigrade' },\n  { name: 'JP-Tardigrade-Data', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-Tardigrade-Data' },\n  { name: 'JP-Tardigrade-test-actions', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-Tardigrade-test-actions' },\n  { name: 'JP-Tardigrade-UPK284', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-Tardigrade-UPK284' },\n  { name: 'JP-UMA-License', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-UMA-License' },\n  { name: 'JP-UMA-X-Doc', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-UMAX-Doc' },\n  { name: 'JP-MAX-Toolbox', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-MAX-Toolbox' },\n  { name: 'JP-Template_NetCore_Stk', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-Template_NetCore_Stk' },\n  { name: 'JP-umalib', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-umalib' },\n  { name: 'JP-umaLib-old', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-umaLib-old' },\n  { name: 'JP-UMATraining', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-UMATraining' },\n  { name: 'JP-vite-cesium-ion', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-vite-cesium-ion' },\n  { name: 'JP-Walrus', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-Walrus' },\n  { name: 'JP-SensorCalibrationTool', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-SensorCalibrationTool' },\n  { name: 'JP-SEGPythonAPI', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-SEGPythonAPI' },\n  { name: 'JP-SatelliteMissionScenarioDesigner', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-SatelliteMissionScenarioDesigner' },\n  { name: 'JP-PENGUIN', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-PENGUIN' },\n  { name: 'JP-ORCA-Validation', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-ORCA-Validation' },\n  { name: 'JP-ORCA', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-ORCA' },\n  { name: 'JP-ODTKPythonAPI', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-ODTKPythonAPI' },\n  { name: 'JP-MolaMola', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-MolaMola' },\n  { name: 'JP-JFD_FileConverter', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-JFD_FileConverter' },\n  { name: 'JP-JFD-demo', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-JFD-demo' },\n  { name: 'JP-JAXA-FCS', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-JAXA-FCS' },\n  { name: 'JP-EOISTJpC', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-EOISTJpC' },\n  { name: 'JP-Dragonfly', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-Dragonfly' },\n  { name: 'JP-AutoMP-QualityAssurance', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/JP-AutoMP-QualityAssurance' },\n  { name: 'US-votw', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/US-votw' },\n  { name: 'US-tardis', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/US-tardis' },\n  { name: 'US-general', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/US-general' },\n  { name: 'US-hail-mary', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/US-hail-mary' },\n  { name: 'US-hott', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/US-hott' },\n  { name: 'US-ishimura', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/US-ishimura' },\n  { name: 'US-JCO', path: 'C:/Dev/LSAS Tec Dropbox/Jomiru Sergiu/Backup/US-JCO' }\n].map(repo => ({ json: repo }));\n\n// Build simpler PowerShell command without here-string issues\nconst repos = inputData.map(item => {\n  const name = item.json.name.replace(/'/g, \"''\");\n  const path = item.json.path.replace(/'/g, \"''\");\n  return `@{Name='${name}'; Path='${path}'}`;\n}).join(',');\n\n// Create a direct PowerShell command without file creation\nconst command = `powershell -Command \"` +\n  `$ErrorActionPreference='SilentlyContinue'; ` +\n  `$results = @{timestamp=(Get-Date).ToString('yyyy-MM-ddTHH:mm:ss.fffZ'); repositories=@{}}; ` +\n  `$repos = @(${repos}); ` +\n  `foreach ($repo in $repos) { ` +\n    `try { ` +\n      `git config --global --add safe.directory $repo.Path 2>$null; ` +\n      `Set-Location $repo.Path; ` +\n      `if (Test-Path '.git') { ` +\n        `$current = git rev-parse HEAD 2>$null; ` +\n        `git fetch origin --quiet 2>$null; ` +\n        `$remote = git rev-parse origin/main 2>$null; ` +\n        `$behind = if ($current -and $remote) { (git rev-list HEAD..origin/main --count 2>$null) } else { 0 }; ` +\n        `$ahead = if ($current -and $remote) { (git rev-list origin/main..HEAD --count 2>$null) } else { 0 }; ` +\n        `$lastCommit = git log -1 --format='%H %s' 2>$null; ` +\n        `$status = if ($behind -gt 0) { 'BEHIND' } elseif ($ahead -gt 0) { 'AHEAD' } else { 'UP_TO_DATE' }; ` +\n        `$results.repositories[$repo.Name] = @{path=$repo.Path; status=$status; behind=[int]$behind; ahead=[int]$ahead; lastCommit=$lastCommit; error=$null}; ` +\n      `} else { ` +\n        `$results.repositories[$repo.Name] = @{path=$repo.Path; status='NOT_A_REPO'; behind=0; ahead=0; lastCommit=$null; error='Directory is not a git repository'}; ` +\n      `} ` +\n    `} catch { ` +\n      `$results.repositories[$repo.Name] = @{path=$repo.Path; status='ERROR'; behind=0; ahead=0; lastCommit=$null; error=$_.Exception.Message}; ` +\n    `} ` +\n  `}; ` +\n  `$results.summary = @{totalRepos=$results.repositories.Count; upToDate=($results.repositories.Values | Where-Object { $_.status -eq 'UP_TO_DATE' }).Count; behind=($results.repositories.Values | Where-Object { $_.status -eq 'BEHIND' }).Count; ahead=($results.repositories.Values | Where-Object { $_.status -eq 'AHEAD' }).Count; errors=($results.repositories.Values | Where-Object { $_.status -eq 'ERROR' -or $_.status -eq 'NOT_A_REPO' }).Count}; ` +\n  `$results | ConvertTo-Json -Depth 4` +\n`\"`;\n\nreturn [{\n  json: {\n    totalRepos: inputData.length,\n    batchCommand: command,\n    repoList: inputData.map(item => ({ name: item.json.name, path: item.json.path }))\n  }\n}];"
      },
      "id": "02a6639c-7640-44ca-8dd8-695d07dd27d8",
      "name": "Prepare Repos",
      "type": "n8n-nodes-base.code",
      "position": [
        -2480,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Filter and process repositories that need updates\nconst inputData = $input.all();\n\nconst reposNeedingUpdates = [];\nconst reposUpToDate = [];\n\ninputData.forEach(item => {\n  if (item.json.needsUpdate === true) {\n    reposNeedingUpdates.push({\n      json: {\n        name: item.json.name,\n        path: item.json.path,\n        status: item.json.status,\n        behind: item.json.behind,\n        ahead: item.json.ahead,\n        lastCommit: item.json.lastCommit,\n        needsUpdate: true\n      }\n    });\n  } else {\n    reposUpToDate.push(item);\n  }\n});\n\n// If we have repos that need updates, return them for pulling\nif (reposNeedingUpdates.length > 0) {\n  console.log(`Found ${reposNeedingUpdates.length} repositories that need updates:`);\n  reposNeedingUpdates.forEach(repo => {\n    console.log(`- ${repo.json.name}: ${repo.json.behind} commits behind`);\n  });\n  return reposNeedingUpdates;\n}\n\n// If no repos need updates, return a summary\nreturn [{\n  json: {\n    message: 'All repositories are up to date',\n    timestamp: new Date().toISOString(),\n    needsUpdate: false,\n    totalRepos: inputData.length\n  }\n}];"
      },
      "id": "5759ab5f-52e0-47d5-82ac-9ff5927a9dd5",
      "name": "Filter Needing Updates",
      "type": "n8n-nodes-base.code",
      "position": [
        -2000,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Generate summary of update operations\nconst inputData = $input.all();\n\nif (!inputData || inputData.length === 0) {\n  return [{\n    json: {\n      timestamp: new Date().toISOString(),\n      summary: 'No repositories required updates',\n      updatedRepos: [],\n      totalUpdated: 0,\n      successCount: 0,\n      failureCount: 0\n    }\n  }];\n}\n\nconst updatedRepos = inputData.map(item => ({\n  Repo: item.json.stderr\n}));\n\nconst successCount = updatedRepos.filter(repo => repo.success).length;\nconst failureCount = updatedRepos.length - successCount;\n\n// Format Entry\n// Create log entry for updates\nconst data = {\n    timestamp: new Date().toISOString(),\n    summary: `Updated ${successCount} repositories successfully${failureCount > 0 ? `, ${failureCount} failed` : ''}`,\n    updatedRepos: updatedRepos,\n    totalUpdated: updatedRepos.length,\n    successCount: successCount,\n    failureCount: failureCount\n  };\n\nif (data.totalUpdated === 0) {\n  return [{\n    json: {\n      logContent: `\\n=== Repository Status Check - ${data.timestamp} ===\\nNo repositories required updates. All repositories are up to date.\\n`,\n      shouldLog: false\n    }\n  }];\n}\n\nlet logContent = `\\n=== Repository Update Log - ${data.timestamp} ===\\n`;\n    logContent += '---\\n';\n\nif (data.updatedRepos && data.updatedRepos.length > 0) {\n  data.updatedRepos.forEach(repo => {\n\n    \n  if (`${repo.Repo}` == \"undefined\"){\n    logContent += `Summary: No repositories were updated`\n  \n    return [{\n      json: {\n        logContent: logContent\n      }\n      }];\n    };\n    \n    logContent += `Repository: ${repo.Repo}\\n`;\n    logContent += `Status: SUCCESS\\n`;\n    logContent += '---\\n';\n  });\n}\n\n\n  if (!logContent.includes(\"No repositories were updated\")){\n    logContent += `Total repositories updated: ${data.totalUpdated}\\n`;\n  }\n\nreturn [{\n  json: {\n    logContent: logContent\n  }\n}];"
      },
      "id": "82ca3ff2-74c0-4ec2-b480-e65734a542ed",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        -1008,
        736
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "Hourly trigger that auto checks repo status for updates every 60 minutes and pulls data.",
        "height": 112,
        "width": 150,
        "color": 3
      },
      "id": "5aa27b3b-f3ce-47d5-8961-b61a110df2fc",
      "name": "Schedule Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2864,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Configures list of 35+ repositories to monitor, including Tardigrade, JP and US projects paths.",
        "height": 112,
        "width": 152,
        "color": 5
      },
      "id": "3bbe4533-9a30-481b-9bef-b5175385131b",
      "name": "Prepare Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2496,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Executes .ps1 command for git status across all repositories using batch processing.",
        "height": 112,
        "width": 150,
        "color": 2
      },
      "id": "a7b6fe62-a68f-4a20-bf13-46c4967057c1",
      "name": "Status Check Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2336,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Parses JSON from PowerShell git status check and splits repos, that need updates.",
        "height": 112,
        "width": 150,
        "color": 6
      },
      "id": "c31f514b-0d08-4798-b49c-6f3e89571b5b",
      "name": "Parse Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2176,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Filters repositories and identifies which ones need updates based on behind status.",
        "height": 112,
        "width": 152,
        "color": 4
      },
      "id": "7d7ab831-dd07-4ffc-8be7-f646c12bec3f",
      "name": "Filter Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Routes data flow pull commands for repos needing updates or sends summary.",
        "height": 112,
        "width": 150,
        "color": 7
      },
      "id": "72fe79b9-1caf-4723-9b23-d315ebeaa7f6",
      "name": "Route Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1856,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Conditional that checks if repos pull commands are ready for execution.",
        "height": 112,
        "width": 150,
        "color": 4
      },
      "id": "b637f27b-5fcb-4823-92fb-9b50c7cf25c6",
      "name": "Pull Check Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1376,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Executes git pull commands for repositories that are behind their remotes.",
        "height": 112,
        "width": 166
      },
      "id": "2f02ae3a-05d0-412d-9ffd-f72a7673082a",
      "name": "Execute Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Generate summary with repo status, success/failure counts, and logs.",
        "height": 112,
        "width": 150
      },
      "id": "698e0f65-eaba-4db0-a6a4-07e3b5e56c5e",
      "name": "Summary Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Exports the final log content as a text file for external viewing and analysis.",
        "height": 112,
        "width": 150
      },
      "id": "22425ec4-a6af-4285-9bbb-e82bc5f17421",
      "name": "Export Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Filters repos by status depending if data update is necessary or not and sends",
        "height": 112,
        "width": 150,
        "color": 7
      },
      "id": "23899a96-e5db-4ec4-82cf-cf1e288e03eb",
      "name": "Route Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Routes repos requiring PRs or generates a summary for no updates needed",
        "height": 112,
        "width": 150,
        "color": 7
      },
      "id": "157639b8-93cf-403b-8e44-f646e42ef91e",
      "name": "Route Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1536,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Auto triggers git repo monitoring when n8n starts up or workflow is activated. ",
        "height": 112,
        "width": 150,
        "color": 3
      },
      "id": "69dd02ab-2670-425a-b0bf-948e28f4d344",
      "name": "Startup Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2864,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Notification about automated git update pull will be sent to configured email address",
        "height": 112,
        "width": 166
      },
      "id": "f3064273-1008-4ddd-a742-f7d280d9a0a5",
      "name": "Export File Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3280,
        1216
      ],
      "id": "af2247b0-cb58-45cc-b78d-de26e7fa6fb4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wwvhoLcIlADIQmDC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "jomirusergiu@gmail.com",
        "toEmail": "jomirusergiu@gmail.com",
        "subject": "=Git Updates Report",
        "emailFormat": "text",
        "text": "={{ $json.logContent }}",
        "options": {
          "appendAttribution": false,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d11cdca9-b60a-4c2f-a64c-6b95d7eda9dc",
      "name": "Send Email Updates",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -688,
        736
      ],
      "webhookId": "52757a00-9c6f-4c00-b7b2-03bc25c4b28d",
      "credentials": {
        "smtp": {
          "id": "hDZ18LOe4Kax4dpH",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "Trigger from other flows to perform checks or processing of git requests",
        "height": 112,
        "width": 150,
        "color": 3
      },
      "id": "f2ab29ca-61e9-473c-9d49-95022e9de721",
      "name": "Schedule Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2864,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "events": [
          "init",
          "activate"
        ]
      },
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        -2832,
        1344
      ],
      "id": "bcc2ba1f-080e-4033-87e6-04dee04abbed",
      "name": "n8n Startup Trigger"
    }
  ],
  "pinData": {
    "Executed by other flow": []
  },
  "connections": {
    "Executed by other flow": {
      "main": [
        [
          {
            "node": "AI Operation Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Operation Classifier": {
      "main": [
        [
          {
            "node": "Parse Operation Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Operation Decision": {
      "main": [
        [
          {
            "node": "Domain Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create target Prompt from PR Diffs": {
      "main": [
        [
          {
            "node": "Code Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Review Agent": {
      "main": [
        [
          {
            "node": "Export File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export File": {
      "main": [
        [
          {
            "node": "Send Email Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Code Review Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Best Practices": {
      "ai_tool": [
        [
          {
            "node": "Code Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Input": {
      "ai_tool": [
        [
          {
            "node": "Code Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Tardigrade": {
      "main": [
        [
          {
            "node": "Check Tardigrade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tardigrade": {
      "main": [
        [
          {
            "node": "Process Tardigrade PRs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Process Tardigrade PRs": {
      "main": [
        [
          {
            "node": "Fetch PR Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PR Files": {
      "main": [
        [
          {
            "node": "Create target Prompt from PR Diffs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Decision": {
      "main": [
        [
          {
            "node": "Prepare Repos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Tardigrade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Status Check": {
      "main": [
        [
          {
            "node": "Parse JSON Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Status": {
      "main": [
        [
          {
            "node": "Filter Needing Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route for Updates": {
      "main": [
        [
          {
            "node": "Filter by Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Status": {
      "main": [
        [
          {
            "node": "Route Pull or Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Pull or Summary": {
      "main": [
        [
          {
            "node": "Has Pull Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pull Command": {
      "main": [
        [
          {
            "node": "Execute Pull Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Pull Command": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Log File": {
      "main": [
        [
          {
            "node": "Send Email Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Every Hour": {
      "main": [
        [
          {
            "node": "Prepare Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Repos": {
      "main": [
        [
          {
            "node": "Execute Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Needing Updates": {
      "main": [
        [
          {
            "node": "Route for Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Export Log File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Operation Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "n8n Startup Trigger": {
      "main": [
        [
          {
            "node": "Prepare Repos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Tardigrade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 60
  },
  "versionId": "54401241-43ba-498b-8145-058e912ffa35",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "E58bptNtshnefZyz",
  "tags": []
}