workflows/tools/jira-tool.json
{
  "name": "jira-tool",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -480,
        256
      ],
      "typeVersion": 1,
      "id": "1ddad2e9-72c8-4714-b5b7-f08f4f995140"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{ (() => {\n  const type = String($json.issueType ?? 'Task').trim().toLowerCase();\n  const map = {\n    'task': 0,\n    'bug': 1,\n    'story': 2,\n    'feature': 2\n  };\n  return map[type] ?? 0;\n})() }}"
      },
      "name": "Issue Type Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        -240,
        240
      ],
      "typeVersion": 3.2,
      "id": "2afe2914-4d37-4b33-ac48-80fc19a265e7"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "LSAS-Tec"
        },
        "issueType": {
          "__rl": true,
          "value": "10022",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "description": "={{ $json.description ?? 'No description provided' }}",
          "priority": {
            "__rl": true,
            "value": "={{ (() => {\n  const p = String($json.priority ?? 'Medium').trim().toLowerCase();\n  const map = {\n    'lowest': '5',\n    'low': '4',\n    'medium': '3',\n    'high': '2',\n    'highest': '1',\n    'critical': '1'\n  };\n  return map[p] ?? '3';\n})() }}",
            "mode": "id"
          }
        }
      },
      "name": "Create Task",
      "type": "n8n-nodes-base.jira",
      "position": [
        0,
        32
      ],
      "typeVersion": 1,
      "id": "8f1edf5d-ee1a-43b4-a862-7acf30defa4e",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CbxmZjl3ANH1DR0m",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "LSAS-Tec"
        },
        "issueType": {
          "__rl": true,
          "value": "10024",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "description": "={{ $json.description ?? 'No description provided' }}",
          "priority": {
            "__rl": true,
            "value": "={{ (() => {\n  const p = String($json.priority ?? 'High').trim().toLowerCase();\n  const map = {\n    'lowest': '5',\n    'low': '4',\n    'medium': '3',\n    'high': '2',\n    'highest': '1',\n    'critical': '1'\n  };\n  return map[p] ?? '2';\n})() }}",
            "mode": "id"
          }
        }
      },
      "name": "Create Bug",
      "type": "n8n-nodes-base.jira",
      "position": [
        0,
        240
      ],
      "typeVersion": 1,
      "id": "2636ef24-7e75-46a3-96bf-782bc0e3cd4a",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CbxmZjl3ANH1DR0m",
          "name": "Jira SW Cloud account"
        }
      },
      "notes": "REQUIRED: Open this node in n8n UI and select 'Bug' from the Issue Type dropdown"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "LSAS-Tec"
        },
        "issueType": {
          "__rl": true,
          "value": "10011",
          "mode": "list",
          "cachedResultName": "Feature"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "description": "={{ $json.description ?? 'No description provided' }}",
          "priority": {
            "__rl": true,
            "value": "={{ (() => {\n  const p = String($json.priority ?? 'Medium').trim().toLowerCase();\n  const map = {\n    'lowest': '5',\n    'low': '4',\n    'medium': '3',\n    'high': '2',\n    'highest': '1',\n    'critical': '1'\n  };\n  return map[p] ?? '3';\n})() }}",
            "mode": "id"
          }
        }
      },
      "name": "Create Story",
      "type": "n8n-nodes-base.jira",
      "position": [
        0,
        464
      ],
      "typeVersion": 1,
      "id": "91c34c90-501a-49af-bfe1-991aaef27dca",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CbxmZjl3ANH1DR0m",
          "name": "Jira SW Cloud account"
        }
      },
      "notes": "REQUIRED: Open this node in n8n UI and select 'Story' (or 'Feature') from the Issue Type dropdown"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Issue Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue Type Router": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Bug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "560a0657-19e1-4b7c-b1c6-6c723c33dd2f",
  "meta": {
    "templateId": "459",
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "uPHpgToaQ0oK47hI",
  "tags": []
}