workflows/tools/jira-tool.json
{
  "name": "jira-tool",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1312,
        240
      ],
      "typeVersion": 1,
      "id": "3cd19c4e-de75-42ba-934d-09a497baf73f"
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ (() => {\n  const op = String($json.operation ?? 'create').trim().toLowerCase();\n  const map = {\n    'create': 0,\n    'query-sprint': 1,\n    'query-backlog': 2,\n    'query-assigned': 3\n  };\n  return map[op] ?? 0;\n})() }}"
      },
      "name": "Operation Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1072,
        208
      ],
      "typeVersion": 3.2,
      "id": "ddbe3e1d-57c2-46e1-a1a1-777ad664c35c"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{ (() => {\n  const type = String($json.issueType ?? 'Task').trim().toLowerCase();\n  const map = {\n    'task': 0,\n    'bug': 1,\n    'story': 2,\n    'feature': 2\n  };\n  return map[type] ?? 0;\n})() }}"
      },
      "name": "Issue Type Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        -752,
        -32
      ],
      "typeVersion": 3.2,
      "id": "b9cc6504-2e35-45e1-a9a6-5f0cc39e17e8"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "LSAS-Tec"
        },
        "issueType": {
          "__rl": true,
          "value": "10022",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "description": "={{ $json.description ?? 'No description provided' }}",
          "priority": {
            "__rl": true,
            "value": "={{ (() => {\n  const p = String($json.priority ?? 'Medium').trim().toLowerCase();\n  const map = {\n    'lowest': '5',\n    'low': '4',\n    'medium': '3',\n    'high': '2',\n    'highest': '1',\n    'critical': '1'\n  };\n  return map[p] ?? '3';\n})() }}",
            "mode": "id"
          }
        }
      },
      "name": "Create Task",
      "type": "n8n-nodes-base.jira",
      "position": [
        -480,
        -176
      ],
      "typeVersion": 1,
      "id": "f8560c87-6694-45b2-ae1e-4e89b83412ab",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CbxmZjl3ANH1DR0m",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "LSAS-Tec"
        },
        "issueType": {
          "__rl": true,
          "value": "10024",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "description": "={{ $json.description ?? 'No description provided' }}",
          "priority": {
            "__rl": true,
            "value": "={{ (() => {\n  const p = String($json.priority ?? 'High').trim().toLowerCase();\n  const map = {\n    'lowest': '5',\n    'low': '4',\n    'medium': '3',\n    'high': '2',\n    'highest': '1',\n    'critical': '1'\n  };\n  return map[p] ?? '2';\n})() }}",
            "mode": "id"
          }
        }
      },
      "name": "Create Bug",
      "type": "n8n-nodes-base.jira",
      "position": [
        -480,
        -16
      ],
      "typeVersion": 1,
      "id": "6b314e1d-b193-453d-a8df-b48ae4108adb",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CbxmZjl3ANH1DR0m",
          "name": "Jira SW Cloud account"
        }
      },
      "notes": "REQUIRED: Open this node in n8n UI and select 'Bug' from the Issue Type dropdown"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "LSAS-Tec"
        },
        "issueType": {
          "__rl": true,
          "value": "10011",
          "mode": "list",
          "cachedResultName": "Feature"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "description": "={{ $json.description ?? 'No description provided' }}",
          "priority": {
            "__rl": true,
            "value": "={{ (() => {\n  const p = String($json.priority ?? 'Medium').trim().toLowerCase();\n  const map = {\n    'lowest': '5',\n    'low': '4',\n    'medium': '3',\n    'high': '2',\n    'highest': '1',\n    'critical': '1'\n  };\n  return map[p] ?? '3';\n})() }}",
            "mode": "id"
          }
        }
      },
      "name": "Create Story",
      "type": "n8n-nodes-base.jira",
      "position": [
        -480,
        144
      ],
      "typeVersion": 1,
      "id": "dedca245-00bf-4644-b7b1-111714311da0",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CbxmZjl3ANH1DR0m",
          "name": "Jira SW Cloud account"
        }
      },
      "notes": "REQUIRED: Open this node in n8n UI and select 'Story' (or 'Feature') from the Issue Type dropdown"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "name": "Query Sprint Tasks",
      "type": "n8n-nodes-base.jira",
      "position": [
        -752,
        160
      ],
      "typeVersion": 1,
      "id": "6bb7bb5b-4909-4468-a415-a9e6fa3988be",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CbxmZjl3ANH1DR0m",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "name": "Query Backlog Tasks",
      "type": "n8n-nodes-base.jira",
      "position": [
        -752,
        320
      ],
      "typeVersion": 1,
      "id": "f01e95f9-73fa-4564-a738-979c245d503a",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CbxmZjl3ANH1DR0m",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "name": "Query My Tasks",
      "type": "n8n-nodes-base.jira",
      "position": [
        -752,
        480
      ],
      "typeVersion": 1,
      "id": "4a78c306-13ef-4082-b125-f8ea01bbb19c",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CbxmZjl3ANH1DR0m",
          "name": "Jira SW Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Operation Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operation Router": {
      "main": [
        [
          {
            "node": "Issue Type Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Sprint Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Backlog Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query My Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue Type Router": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Bug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "34bfa67f-782e-4b45-bc6f-c52925b31a90",
  "meta": {
    "templateId": "459",
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "uPHpgToaQ0oK47hI",
  "tags": []
}