workflows/tools/mail-reply.json
{
  "name": "mail-reply",
  "nodes": [
    {
      "parameters": {
        "content": "This workflow triggers from Mail (IMAP), processes text with LLM Model, sets up an email field, and saves a draft.",
        "height": 112,
        "width": 192
      },
      "id": "2aaec340-bc98-4608-91a5-def81db5f188",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Monitors IMAP email account for new incoming messages and triggers workflow when emails arrive.",
        "height": 112,
        "width": 196,
        "color": 3
      },
      "id": "ec5749f7-ec3a-4e9c-883c-3cfb5845d175",
      "name": "IMAP Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Filters out emails sent from my own email address to prevent creating drafts for my own sent emails.",
        "height": 112,
        "width": 180,
        "color": 4
      },
      "id": "8742ff30-3321-4848-9cfd-8d9e5386d869",
      "name": "Filter Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Uses an LLM AI language chain to analyze all of the incoming email content and generate appropriate reply text using OpenAI.",
        "height": 112,
        "width": 228
      },
      "id": "17d42e4b-13d5-4f62-bea1-c6090c4eee81",
      "name": "AI Process Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Structures email data by setting reply fields: from address, subject (with 'Re:' prefix), and AI-generated message text.",
        "height": 112,
        "width": 196,
        "color": 6
      },
      "id": "5acd38df-9d29-4ffb-bddf-e8999b4206f4",
      "name": "Prepare Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Saves the prepared email reply as a Gmail draft using Gmail API, ready for manual review and sending.",
        "height": 112,
        "width": 180,
        "color": 5
      },
      "id": "ebbd0c2b-44f1-432a-8674-2b7b9ef71e63",
      "name": "Gmail Draft Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b4b66fb9-a43e-41b7-b3d4-8afb73a40a73",
      "name": "Check New Email (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [
        736,
        -256
      ],
      "typeVersion": 2,
      "credentials": {
        "imap": {
          "id": "NBfMzCctD9ha97vJ",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1e4c0b4-7a5b-4b19-8f3e-2d1c9e8f7a6b",
              "leftValue": "={{ $json.from }}",
              "rightValue": "jomirusergiu@gmail.com",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e3417cf3-5993-490f-8135-b31aee492011",
      "name": "Filter Out Own Emails",
      "type": "n8n-nodes-base.if",
      "position": [
        1008,
        -256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sender: {{ $json.from }}\n\nEmail Content:\n{{ $json.textPlain }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI email assistant.  \nYour task is to generate professional, well-structured email replies based on the incoming email content.  \n\nGuidelines:\n- Extract the sender's name from the 'Sender' field. If it contains a name before the email address (e.g., 'John Doe <john@example.com>'), use that name. Otherwise, use a generic greeting.\n- Always address the sender by their actual name in the greeting (e.g., 'Dear John,' or 'Dear Mr. Smith,').\n- Keep the tone respectful, clear, and professional. \n- Structure the email with proper greeting, body, and closing \n- Every new sentence in the body should be from new line\n- Ensure proper grammar and formatting for paragraphs in the body\n- Include all necessary information mentioned\n- Summarize long emails before replying if needed.  \n- Provide clear answers or actions, and confirm receipt when appropriate.  \n- If the request is unclear, politely ask for clarification.  \n- Keep replies short (3–6 sentences), unless a longer explanation is required.  \n- Use correct grammar and formatting.  \n- Do not include subject line in the email body \n\nEmail structure example:\n'Dear John,\n\nThank you for your message.\n\nI appreciate you taking the time to review my application and proceed accordingly.\nPlease let me know if you need any additional information from my side.\n\nBest regards,\nSergiu'\n\nInput: The sender information and email content are provided above.\n\nOutput: Drafted email reply body only, with Best Regards, my name is Sergiu. Use the actual sender's name in the greeting."
            }
          ]
        }
      },
      "id": "7d732e4f-0c26-4405-a3e8-a1992c1546bd",
      "name": "Process Email with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1248,
        -256
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d428c48-4809-45d8-ba1e-c96d68c02c07",
              "name": "to",
              "type": "string",
              "value": "={{ $('Check New Email (IMAP)').first().json.from }}"
            },
            {
              "id": "63b99545-3d2d-4563-b9d7-078cbc20dbcc",
              "name": "subject",
              "type": "string",
              "value": "=Re: {{ $('Check New Email (IMAP)').first().json.subject }}"
            },
            {
              "id": "11d94d3f-2170-4b54-b5f9-b85bb95ad472",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}\n\nOn {{ $('Check New Email (IMAP)').first().json.date }}, {{ $('Check New Email (IMAP)').first().json.from }} wrote:\n> {{ $('Check New Email (IMAP)').first().json.textPlain.replace(/\\n/g, '\\n> ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3beb982d-980d-45b1-b8f6-c564c28cded4",
      "name": "Prepare Email Content",
      "type": "n8n-nodes-base.set",
      "position": [
        1584,
        -256
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1248,
        -80
      ],
      "id": "7a6e0f25-f307-4216-ab62-8ca819bdd8a9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wwvhoLcIlADIQmDC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "997ac271-d1d5-46e9-aa4c-88273a720487",
      "name": "Pause Before Sending",
      "type": "n8n-nodes-base.wait",
      "position": [
        1824,
        -256
      ],
      "webhookId": "0b2f9902-fd7b-4a98-87a3-f36c74b0af32",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "Introduces a short delay to avoid hitting Gmail’s API rate limits or ensure all emails are fetched properly.",
        "height": 112,
        "width": 180,
        "color": 5
      },
      "id": "02c14794-ac34-469f-a6d4-c06eb1c0dbe9",
      "name": "Gmail Draft Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "id": "62d03f88-3caf-4285-8bb5-151a6735ffd0",
      "name": "Save as Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2048,
        -256
      ],
      "webhookId": "12345678-90ab-cdef-1234-567890abcdef",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "init",
          "activate"
        ]
      },
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        736,
        -96
      ],
      "id": "dcbb30d9-dfc4-4e2a-9dba-b704699d66fb",
      "name": "n8n Startup Trigger"
    }
  ],
  "pinData": {
    "n8n Startup Trigger": [
      {
        "json": {
          "parameters": {},
          "name": "Startup Trigger",
          "type": "n8n-nodes-base.startupTrigger",
          "typeVersion": 1,
          "position": [
            240,
            300
          ]
        }
      }
    ]
  },
  "connections": {
    "Prepare Email Content": {
      "main": [
        [
          {
            "node": "Pause Before Sending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Email with AI": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check New Email (IMAP)": {
      "main": [
        [
          {
            "node": "Filter Out Own Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Own Emails": {
      "main": [
        [
          {
            "node": "Process Email with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Process Email with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pause Before Sending": {
      "main": [
        [
          {
            "node": "Save as Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Startup Trigger": {
      "main": [
        [
          {
            "node": "Filter Out Own Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "timeSavedPerExecution": 10
  },
  "versionId": "05712980-9018-406b-8b98-09afc4533786",
  "meta": {
    "templateId": "5196",
    "templateCredsSetupCompleted": true,
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "SoWKY6F8J5XOKjMQ",
  "tags": [
    {
      "createdAt": "2025-09-08T07:55:19.208Z",
      "updatedAt": "2025-09-08T07:55:19.208Z",
      "id": "8mzLwVwaYcqGeRXd",
      "name": "email"
    },
    {
      "createdAt": "2025-09-08T07:55:37.716Z",
      "updatedAt": "2025-09-08T07:55:37.716Z",
      "id": "Wotdd6nOv1ZH7qrJ",
      "name": "drafts"
    },
    {
      "createdAt": "2025-08-04T04:19:34.812Z",
      "updatedAt": "2025-08-04T04:19:34.812Z",
      "id": "i9zHVsEzM4VbgpCT",
      "name": "automation"
    }
  ]
}