workflows/tools/mail-reply.json
{
  "name": "mail-reply-tool",
  "nodes": [
    {
      "parameters": {
        "content": "This workflow triggers from Mail (IMAP), processes text with LLM Model, sets up an email field, and saves a draft.",
        "height": 112,
        "width": 192
      },
      "id": "16dadea0-9427-4743-86de-189f56188d16",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Monitors IMAP email account for new incoming messages and triggers workflow when emails arrive.",
        "height": 112,
        "width": 196,
        "color": 3
      },
      "id": "b7c622b2-1f1f-4ff8-a153-fd22e4b63987",
      "name": "IMAP Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Filters out emails sent from my own email address to prevent creating drafts for my own sent emails.",
        "height": 112,
        "width": 180,
        "color": 4
      },
      "id": "927e930a-4962-4cda-8e09-44c5a825f8f0",
      "name": "Filter Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Uses an LLM AI language chain to analyze all of the incoming email content and generate appropriate reply text using OpenAI.",
        "height": 112,
        "width": 228
      },
      "id": "42c806f5-7d26-46ad-a842-b2b6156988c7",
      "name": "AI Process Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Structures email data by setting reply fields: from address, subject (with 'Re:' prefix), and AI-generated message text.",
        "height": 112,
        "width": 196,
        "color": 6
      },
      "id": "863b6186-a438-47c1-9132-35561ea9c43e",
      "name": "Prepare Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Saves the prepared email reply as a Gmail draft using Gmail API, ready for manual review and sending.",
        "height": 112,
        "width": 180,
        "color": 5
      },
      "id": "86694741-81d5-4926-b420-3697c49d6391",
      "name": "Gmail Draft Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "options": {}
      },
      "id": "408b93fe-a175-493c-b0d3-b50c6be155a4",
      "name": "Check New Email (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [
        -592,
        16
      ],
      "typeVersion": 2,
      "credentials": {
        "imap": {
          "id": "NBfMzCctD9ha97vJ",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1e4c0b4-7a5b-4b19-8f3e-2d1c9e8f7a6b",
              "leftValue": "={{ $json.from }}",
              "rightValue": "jomirusergiu@gmail.com",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7fb0899e-e7a9-49e4-9044-2f4593572ab4",
      "name": "Filter Out Own Emails",
      "type": "n8n-nodes-base.if",
      "position": [
        -320,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.textPlain }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI email assistant.  \nYour task is to generate professional, well-structured email replies based on the incoming email content.  \n\nGuidelines:\n- Always address the sender by name if provided.  \n- Keep the tone respectful, clear, and professional. \n- Structure the email with proper greeting, body, and closing \n- Every new sentence in the body should be from new line\n- Ensure proper grammar and formatting for paragraphs in the body\n- Include all necessary information mentioned\n- Summarize long emails before replying if needed.  \n- Provide clear answers or actions, and confirm receipt when appropriate.  \n- If the request is unclear, politely ask for clarification.  \n- Keep replies short (3–6 sentences), unless a longer explanation is required.  \n- Use correct grammar and formatting.  \n- Do not include subject line in the email body \n\nEmail structure example:\n'Dear [RECIPIENT],\n\nThank you for your message.\n\nI appreciate you taking the time to review my application and proceed accordingly.\nPlease let me know if you need any additional information from my side.\n\nBest regards,\nSergiu'\n\nInput: {{ $json.textPlain }} \n\nOutput: Drafted email reply body, with Best Regards, my name is Sergiu."
            }
          ]
        }
      },
      "id": "c5d4f2be-4aad-4328-92c9-5571005110e4",
      "name": "Process Email with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -80,
        16
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d428c48-4809-45d8-ba1e-c96d68c02c07",
              "name": "from",
              "type": "string",
              "value": "={{ $('Check New Email (IMAP)').first().json.from }}"
            },
            {
              "id": "63b99545-3d2d-4563-b9d7-078cbc20dbcc",
              "name": "subject",
              "type": "string",
              "value": "=Re: {{ $('Check New Email (IMAP)').first().json.subject }}"
            },
            {
              "id": "11d94d3f-2170-4b54-b5f9-b85bb95ad472",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }} "
            }
          ]
        },
        "options": {}
      },
      "id": "5f3d3e42-f4fa-45f5-be45-1352820a579f",
      "name": "Prepare Email Content",
      "type": "n8n-nodes-base.set",
      "position": [
        256,
        16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        192
      ],
      "id": "300266c8-5da7-468f-8c4d-19a8cf59c255",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wwvhoLcIlADIQmDC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e1bed03b-7db3-4549-bf1a-5888f99ccf50",
      "name": "Pause Before Sending",
      "type": "n8n-nodes-base.wait",
      "position": [
        496,
        16
      ],
      "webhookId": "0b2f9902-fd7b-4a98-87a3-f36c74b0af32",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "Introduces a short delay to avoid hitting Gmail’s API rate limits or ensure all emails are fetched properly.",
        "height": 112,
        "width": 180,
        "color": 5
      },
      "id": "e8b201db-f8bf-48a5-b561-3968ed194ae5",
      "name": "Gmail Draft Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "id": "3d251ba2-c8da-4ae7-a5e7-97c3402049ef",
      "name": "Save as Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "position": [
        720,
        16
      ],
      "webhookId": "12345678-90ab-cdef-1234-567890abcdef",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "init",
          "activate"
        ]
      },
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        176
      ],
      "id": "aca43d26-d626-4a64-8726-60b739b7a521",
      "name": "n8n Startup Trigger"
    }
  ],
  "pinData": {
    "n8n Startup Trigger": [
      {
        "json": {
          "parameters": {},
          "name": "Startup Trigger",
          "type": "n8n-nodes-base.startupTrigger",
          "typeVersion": 1,
          "position": [
            240,
            300
          ]
        }
      }
    ]
  },
  "connections": {
    "Prepare Email Content": {
      "main": [
        [
          {
            "node": "Pause Before Sending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Email with AI": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check New Email (IMAP)": {
      "main": [
        [
          {
            "node": "Filter Out Own Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Own Emails": {
      "main": [
        [
          {
            "node": "Process Email with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Process Email with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pause Before Sending": {
      "main": [
        [
          {
            "node": "Save as Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Startup Trigger": {
      "main": [
        [
          {
            "node": "Filter Out Own Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "timeSavedPerExecution": 10
  },
  "versionId": "f745ecb5-e1ac-4d37-8cf1-e8fe2e91e942",
  "meta": {
    "templateId": "5196",
    "templateCredsSetupCompleted": true,
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "SoWKY6F8J5XOKjMQ",
  "tags": [
    {
      "createdAt": "2025-09-08T07:55:19.208Z",
      "updatedAt": "2025-09-08T07:55:19.208Z",
      "id": "8mzLwVwaYcqGeRXd",
      "name": "email"
    },
    {
      "createdAt": "2025-09-08T07:55:37.716Z",
      "updatedAt": "2025-09-08T07:55:37.716Z",
      "id": "Wotdd6nOv1ZH7qrJ",
      "name": "drafts"
    },
    {
      "createdAt": "2025-08-04T04:19:34.812Z",
      "updatedAt": "2025-08-04T04:19:34.812Z",
      "id": "i9zHVsEzM4VbgpCT",
      "name": "automation"
    }
  ]
}