workflows/tools/mail-tool.json
{
  "name": "mail-tool",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        -544
      ],
      "id": "2ff6b991-1975-4424-bcc1-c27b5011257c",
      "name": "Executed by other flow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput + ' ' + ($json.emailInstructions || '') }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI operation classifier for email tasks. Analyze the user's request and determine which email operation they want to perform.|Available operations:1. **CREATE_DRAFT** - User wants to compose, write, create, or draft a new email2. **CLEAN_SPAM** - User wants to clean, delete, or remove spam emails3. **CLEAN_DRAFTS** - User wants to clean, delete, or remove draft emails4. **CLEAN_TRASH** - User wants to clean, delete, or remove trash/deleted emailsAnalyze the user request: '{{ $json.chatInput }}'Email instructions: '{{ $json.emailInstructions || 'None provided' }}'Examples:- 'Create a new email' → CREATE_DRAFT- 'Write an email to John' → CREATE_DRAFT  - 'Draft a reply to the meeting request' → CREATE_DRAFT- 'Clean up spam emails' → CLEAN_SPAM- 'Delete all spam' → CLEAN_SPAM- 'Remove draft emails' → CLEAN_DRAFTS- 'Clear my drafts folder' → CLEAN_DRAFTS- 'Empty trash' → CLEAN_TRASH- 'Delete trash emails' → CLEAN_TRASHIMPORTANT: Respond with ONLY the operation name in JSON format:{\"operation\": \"CREATE_DRAFT\"}{\"operation\": \"CLEAN_SPAM\"}{\"operation\": \"CLEAN_DRAFTS\"}{\"operation\": \"CLEAN_TRASH\"}If unclear, default to CREATE_DRAFT. Also send the input as a result too."
            }
          ]
        }
      },
      "id": "680eb2ba-0dd6-4ea1-9133-ea32bcb14e4d",
      "name": "AI Operation Classifier",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -544,
        -544
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "jsCode": "// Get the original input from the workflow trigger\nconst originalInput = $('Executed by other flow').first().json;\n\nreturn items.map(item => {\n  let parsed;\n  try {\n    parsed = JSON.parse(item.json.text);\n    // Merge with original input data\n    return { \n      json: {\n        ...item.json,\n        ...parsed,\n        originalChatInput: originalInput.chatInput,\n        originalEmailInstructions: originalInput.emailInstructions\n      }\n    };\n  } catch (e) {\n    // Default to CREATE_DRAFT if parsing fails\n    return { \n      json: {\n        ...item.json,\n        operation: \"CREATE_DRAFT\",\n        originalChatInput: originalInput.chatInput,\n        originalEmailInstructions: originalInput.emailInstructions\n      }\n    };\n  }\n});"
      },
      "id": "64a1d03d-d251-46e0-8792-2ebfa0642485",
      "name": "Parse Operation Decision",
      "type": "n8n-nodes-base.code",
      "position": [
        -256,
        -544
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.originalChatInput}}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI email writing assistant. Your task is to generate professional, well-structured emails based on the provided context and instructions.\n\nGuidelines:\n- Always address the sender by name if provided\n- Keep the tone respectful, clear, and professional\n- Structure the email with proper greeting, body, and closing\n- Every new sentence in the body should be from new line\n- Ensure proper grammar and formatting for paragraphs in the body\n- Include all necessary information mentioned\n- Summarize long emails before replying if needed\n- Provide clear answers or actions, and confirm receipt when appropriate\n- If the request is unclear, politely ask for clarification\n- Keep replies short (3–6 sentences), unless a longer explanation is required\n- Use correct grammar and formatting\n- Do not include subject line in the email body\n\nEmail structure example:\n'Dear [RECIPIENT],\n\nThank you for your message.\n\nI appreciate you taking the time to review my application and proceed accordingly.\nPlease let me know if you need any additional information from my side.\n\nBest regards,\nSergiu'\n\nInput Instructions: {{ $json.originalEmailInstructions }}\nContext/Purpose: get the context from the instructions\nSubject/Title: add subject or topic of email based on the instructions\n\nOutput: Drafted email reply body, with Best Regards, my name is Sergiu. Also add subject into output json under subject key."
            }
          ]
        }
      },
      "id": "f7be2447-61f2-44ea-b4e0-2068fc684b37",
      "name": "Generate Email with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        272,
        -592
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let parsed;\n  try {\n    parsed = JSON.parse(item.json.text);\n  } catch (e) {\n    parsed = { subject: \"\", body: item.json.text };\n  }\n  return { json: parsed };\n});"
      },
      "id": "a174aa85-7673-43e7-a32e-c54f22f516ff",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "position": [
        576,
        -592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {
          "sendTo": ""
        }
      },
      "id": "15c8f000-5609-4d01-990e-2ee45fe13b30",
      "name": "Save as Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "position": [
        944,
        -592
      ],
      "typeVersion": 2.1,
      "webhookId": "d298ef6b-b892-4eee-be31-caea6f5affdd",
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "={{ $json.folderType }}"
          ]
        }
      },
      "id": "7b85a18a-d3b7-4d0b-b94f-101b76e87f5c",
      "name": "Fetch Emails",
      "type": "n8n-nodes-base.gmail",
      "position": [
        752,
        -288
      ],
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "webhookId": "7127f697-ab74-4b80-aa12-1a9bf98a744a",
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "emails-exist-check",
              "leftValue": "={{ $json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "3800c7ff-a843-49ee-8716-4a99a9c0af39",
      "name": "Check if Emails Exist",
      "type": "n8n-nodes-base.if",
      "position": [
        944,
        -288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.id }}"
      },
      "id": "ad59e9ea-ba34-42c8-ae1c-1829ca006821",
      "name": "Delete Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1312,
        -288
      ],
      "typeVersion": 2.1,
      "webhookId": "e4db125e-a260-45b0-b56c-2928e91ea6f4",
      "credentials": {
        "gmailOAuth2": {
          "id": "6ZNnHZRObc0alAvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "id": "561d6b17-74da-4bb1-83e5-63db4f1e5203",
      "name": "No Emails Found",
      "type": "n8n-nodes-base.set",
      "position": [
        1152,
        -128
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "jomirusergiu@gmail.com",
        "toEmail": "jomirusergiu@gmail.com",
        "subject": "=Mail Cleanup Report - no emails were found",
        "emailFormat": "text",
        "text": "=Mail Cleanup completed successfully.\n\nNo emails were found in the specified folder.\n\nCleanup Date: {{ $now.format(\"MMM dd, yyyy HH:mm:ss\") }}",
        "options": {
          "appendAttribution": false,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "ffd74fe0-801a-4b66-aa0a-5002c2abd82b",
      "name": "Send No Emails Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1632,
        -128
      ],
      "webhookId": "ae27f554-7b8a-4406-be36-4b01edfd300a",
      "credentials": {
        "smtp": {
          "id": "hDZ18LOe4Kax4dpH",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        -112
      ],
      "id": "5220baf9-7c92-437c-8c6e-2fb8471386e2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wwvhoLcIlADIQmDC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "folder-type",
              "name": "folderType",
              "type": "string",
              "value": "SPAM"
            },
            {
              "id": "operation-type",
              "name": "operationType",
              "type": "string",
              "value": "clean_spam"
            },
            {
              "id": "cleanup-type",
              "name": "cleanupType",
              "type": "string",
              "value": "Spam"
            }
          ]
        },
        "options": {}
      },
      "id": "db7a9e0f-865e-4556-85b6-a7c55b5c7486",
      "name": "Spam Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        576,
        -288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "folder-type",
              "name": "folderType",
              "type": "string",
              "value": "DRAFT"
            },
            {
              "id": "operation-type",
              "name": "operationType",
              "type": "string",
              "value": "clean_drafts"
            },
            {
              "id": "cleanup-type",
              "name": "cleanupType",
              "type": "string",
              "value": "Draft"
            }
          ]
        },
        "options": {}
      },
      "id": "62f0e85d-5401-40ff-8a34-81f8776a1332",
      "name": "Draft Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        576,
        -448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "folder-type",
              "name": "folderType",
              "type": "string",
              "value": "TRASH"
            },
            {
              "id": "operation-type",
              "name": "operationType",
              "type": "string",
              "value": "clean_trash"
            },
            {
              "id": "cleanup-type",
              "name": "cleanupType",
              "type": "string",
              "value": "Trash"
            }
          ]
        },
        "options": {}
      },
      "id": "25ef2bc3-965d-4192-bed7-0fa1ffd90669",
      "name": "Trash Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        576,
        -128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject-assignment",
              "name": "subject",
              "type": "string",
              "value": "={{ $json.subject }}"
            },
            {
              "id": "message-assignment",
              "name": "message",
              "type": "string",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "602cbe93-cf37-4744-ae4e-cf395208186c",
      "name": "Prepare Email",
      "type": "n8n-nodes-base.set",
      "position": [
        752,
        -592
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "4db964c5-f188-4ca3-9114-6837bed3cc71",
      "name": "Pause Deletion (5s)",
      "type": "n8n-nodes-base.wait",
      "position": [
        1152,
        -288
      ],
      "typeVersion": 1.1,
      "webhookId": "0919dfb4-0d8e-46d0-ab27-a20d86215162"
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ (() => {\n  const a = String($json.operation ?? '').trim().toLowerCase();\n  const map = {\n    'create_draft': 0,\n    'clean_drafts': 1,\n    'clean_spam': 2,\n    'clean_trash': 3,\n  };\n  return map[a] ?? -1; // -1 routes to fallback (enable it)\n})() }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -48,
        -576
      ],
      "id": "ada9d4c8-8900-4bf6-aeb7-41eb2d83c199",
      "name": "Domain Decision"
    },
    {
      "parameters": {
        "jsCode": "// Get the cleanup type from the executed Set Parameters nodes\nlet cleanupType = 'Unknown';\n\n// Check which Set Parameters node was executed by looking at the workflow execution context\ntry {\n  // Try to get from Set Draft Clean Parameters\n  const draftParams = $('Draft Parameters').first();\n  if (draftParams && draftParams.json) {\n    cleanupType = 'Draft';\n  }\n} catch (e) {}\n\ntry {\n  // Try to get from Set Spam Clean Parameters  \n  const spamParams = $('Spam Parameters').first();\n  if (spamParams && spamParams.json) {\n    cleanupType = 'Spam';\n  }\n} catch (e) {}\n\ntry {\n  // Try to get from Set Trash Clean Parameters\n  const trashParams = $('Trash Parameters').first();\n  if (trashParams && trashParams.json) {\n    cleanupType = 'Trash';\n  }\n} catch (e) {}\n\n// Aggregate all deleted emails and add cleanup type\nreturn [{\n  json: {\n    deleted_emails: items.map(item => item.json),\n    cleanupType: cleanupType,\n    totalDeleted: items.length\n  }\n}];"
      },
      "id": "f6fe58f5-02c7-4ee0-bc0a-edad047f2dfa",
      "name": "Aggregate Emails",
      "type": "n8n-nodes-base.code",
      "position": [
        1472,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "jomirusergiu@gmail.com",
        "toEmail": "jomirusergiu@gmail.com",
        "subject": "=Mail {{ $json.cleanupType }} Cleanup Report - {{ $json.totalDeleted }} emails deleted",
        "emailFormat": "text",
        "text": "=Mail {{ $json.cleanupType }} Cleanup completed successfully.\n\n{{ $json.totalDeleted }} emails were permanently deleted from your Gmail account.\n\nCleanup Date: {{ $now.format(\"MMM dd, yyyy HH:mm:ss\") }}",
        "options": {
          "appendAttribution": false,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "86956636-afb1-4727-82a2-619016d18cbd",
      "name": "Send Clean Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1632,
        -288
      ],
      "webhookId": "3f4b5a8d-099c-4808-81c0-9179c269fe8d",
      "credentials": {
        "smtp": {
          "id": "hDZ18LOe4Kax4dpH",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {
    "Executed by other flow": []
  },
  "connections": {
    "Executed by other flow": {
      "main": [
        [
          {
            "node": "AI Operation Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Operation Classifier": {
      "main": [
        [
          {
            "node": "Parse Operation Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Operation Decision": {
      "main": [
        [
          {
            "node": "Domain Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email with AI": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Prepare Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Emails": {
      "main": [
        [
          {
            "node": "Check if Emails Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Emails Exist": {
      "main": [
        [
          {
            "node": "Pause Deletion (5s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Emails Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Email": {
      "main": [
        [
          {
            "node": "Aggregate Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Emails Found": {
      "main": [
        [
          {
            "node": "Send No Emails Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Email with AI",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Operation Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Spam Parameters": {
      "main": [
        [
          {
            "node": "Fetch Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Parameters": {
      "main": [
        [
          {
            "node": "Fetch Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trash Parameters": {
      "main": [
        [
          {
            "node": "Fetch Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email": {
      "main": [
        [
          {
            "node": "Save as Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Deletion (5s)": {
      "main": [
        [
          {
            "node": "Delete Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Decision": {
      "main": [
        [
          {
            "node": "Generate Email with AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft Parameters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spam Parameters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trash Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Emails": {
      "main": [
        [
          {
            "node": "Send Clean Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1e5c6dc-fec7-4901-b10f-c374d97bf249",
  "meta": {
    "instanceId": "3fdd671e7fc1859ff2383b05c6eea518207a3d971ca0642cd42531697f273a8c"
  },
  "id": "luB6neTADgM0YTIH",
  "tags": [
    {
      "createdAt": "2025-09-08T07:55:19.208Z",
      "updatedAt": "2025-09-08T07:55:19.208Z",
      "id": "8mzLwVwaYcqGeRXd",
      "name": "email"
    },
    {
      "createdAt": "2025-08-04T04:19:34.812Z",
      "updatedAt": "2025-08-04T04:19:34.812Z",
      "id": "i9zHVsEzM4VbgpCT",
      "name": "automation"
    },
    {
      "createdAt": "2025-09-25T04:42:40.454Z",
      "updatedAt": "2025-09-25T04:42:40.454Z",
      "id": "udnrQ7ZKmGDNQZo2",
      "name": "unified"
    }
  ]
}